{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">CAREERS</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">CAREERS</span>
        </div>
    </div>
    <div class="container grey-line-sep">
        <p class="range white fz-large  tac mb50">Count on wonderful food and excellent service. <br>
            Every guest of our Food and Wine Restaurant is sure to find <br>
            something to satisfy their palate.</p>
        <p class="grey tac">From the moment you enter the beautiful granite and timber building that houses the Food &
            Wine Restaurant and Cellar
            <br>
            Door, you know you have found something very, very special. The staff greet you warmly and the menu and
            wines on offer
            <br>
            tempt you into whiling away an afternoon sitting on the long verandah or under the peppermint trees,
            watching
            <br>
            the wines breathe and whisper around you.</p>
        <span class="small-sep mb30"></span>
        {% include "layouts/shapes.twig" %}
        <div class="img-wrapper">
            <img class="img" src="http://placehold.it/1170x620">
        </div>
        <span class="small-sep"></span>
        <p class="page-text-title fz-large tac white mb20">We offer</p>
        <div class="advantages  gutter70">
            <div class="grid-wrapper">
                <div class="advantages-item">
                    <div class="designers-things mb10">
                        <span class="arrow-down"></span>
                    </div>
                    <p class="page-title beige fz-base tac fw700 mb35">Lorem ipsum.</p>
                    <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga labore
                        laborum officiis quam quas quia reprehenderit sit suscipit vel voluptas.</p>
                    <span class="small-sep"></span>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="advantages-item">
                    <div class="designers-things mb10">
                        <span class="arrow-down"></span>
                    </div>
                    <p class="page-title beige fz-base tac fw700 mb35">Lorem ipsum.</p>
                    <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga labore
                        laborum officiis quam quas quia reprehenderit sit suscipit vel voluptas.</p>
                    <span class="small-sep"></span>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="advantages-item">
                    <div class="designers-things mb10">
                        <span class="arrow-down"></span>
                    </div>
                    <p class="page-title beige fz-base tac fw700 mb35">Lorem ipsum.</p>
                    <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga labore
                        laborum officiis quam quas quia reprehenderit sit suscipit vel voluptas.</p>
                    <span class="small-sep"></span>
                </div>
            </div>

        </div>
        <section class="b-our-history mb40 "><p class="page-text-title fz-large tac white mb20">Our history</p>
            <div class="con-3_30">
                <div class="grid-wrapper">
                    <p class="page-text-title fz-base tal white mb20 fw700 ">DOWNTOWN NEW YORK, 1946</p>
                    <div class="small-text-block grey fz-small ">
                        <p>Food & Wine Restaurant opened in November of 1999. The owners, Bob Stewart and Tom Pazianos
                            had spent many years in the restaurant business as franchisees and they were ready to open
                            an original concept. They had slowly developed a plan over many years of visiting
                            restaurants all over North America and the world. Ideas they had collected and designs they
                            had studied were worked out and refined here.</p>
                        <p>The name "Food & Wine Restaurant" was suggested by co-founders of the establishment. They
                            felt the name could make it clear for visitors what they will get at the restaurant. More
                            importantly, they believed it would give the flexibility to develop diverse menu selections.
                            The name would not leave people with preconceived notions of the style and types of food or
                            the atmosphere they'd find inside. From that point, we could present Italian, Asian, or any
                            other cuisine.</p>
                    </div>
                </div>
                <div class="grid-wrapper">
                    <div class="img-wrapper">
                        <img class="img" src="http://placehold.it/420x500">
                    </div>
                </div>
                <div class="grid-wrapper">
                    <div class="small-text-block grey fz-small">
                        <p>Here, the surroundings are comfortable and the focus is contemporary cuisine of exceptional
                            quality. Signature dishes created by our chef include certified Angus tenderloin, cedar
                            plank salmon, black and blue ahi tuna and wood oven pizzas. Our desserts are prepared
                            in-house by our pastry chef. Our extensive wine list was compiled by our wine expert with
                            numerous vintage wines as well as over 30 wines by the glass.2.</p>
                        <p>Food & Wine Restaurant has been listed in "Where to Eat in the US" for several years running
                            and the wine list has earned the "Wine Spectator Award of Excellence" every year since 2002.
                            It became possible due to our loyal visitors and clients that admire our wines and dishes
                            since 1999. tal</p>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}