{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">CAREERS</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">CAREERS</span>
        </div>
    </div>
    <div class="container grey-line-sep">
        <p class="page-text-title mb45 fz-large white tac">Join our team</p>
        <div class="con-2_30">
            <div class="grid-wrapper">
                <div class="small-text-block mb50">
                    <p class="grey">If you like eating at Food & Wine Restaurant, you`ll love working here. We offer a
                        fun,
                        fast-paced environment and the opportunity to turn a job into a career. As an added plus, you`ll
                        get comprehensive training and development, excellent bonus opportunities, and the opportunity
                        to enjoy our classic meals at a discount or free.</p>
                    <p class="grey">We`re looking for friendly, enthusiastic people to join our team and help carry on a
                        tradition of
                        great food and outstanding customer service. Whether you`re just starting out or ready to take
                        on a role at our corporate office, there`s a position in our family with your name on it.</p>
                </div>
                <ul class="contents mb100 ">
                    <li class="contents-item mb20">
                        <a href="#" class="contents-item__link js-scrollScreen fz-base">Competitive starting salary with
                            periodic reviews</a>
                    </li>
                    <li class="contents-item mb20">
                        <a href="#" class="contents-item__link js-scrollScreen fz-base">Competitive starting salary with
                            periodic reviews</a>
                    </li>
                    <li class="contents-item mb20">
                        <a href="#" class="contents-item__link js-scrollScreen fz-base">Competitive starting salary with
                            periodic reviews</a>
                    </li>
                    <li class="contents-item mb20">
                        <a href="#" class="contents-item__link js-scrollScreen fz-base">Competitive starting salary with
                            periodic reviews</a>
                    </li>
                    <li class="contents-item mb20">
                        <a href="#" class="contents-item__link js-scrollScreen fz-base">Competitive starting salary with
                            periodic reviews</a>
                    </li>
                    <li class="contents-item mb20">
                        <a href="#" class="contents-item__link js-scrollScreen fz-base">Competitive starting salary with
                            periodic reviews</a>
                    </li>
                    <li class="contents-item mb20">
                        <a href="#" class="contents-item__link js-scrollScreen fz-base">Competitive starting salary with
                            periodic reviews</a>
                    </li>
                </ul>
            </div>
            <div class="grid-wrapper">
                <div class="img-wrapper">
                    <img class="img" src="http://placehold.it/700x700">
                </div>
            </div>
        </div>
        <span class="small-sep"></span>
        <p class="page-text-title mb45 fz-large white tac">Our vacancies</p>
        <div class="con-2_30">
            <div class="grid-wrapper">
                <a href="#" class="black-block db mb30">
                    <p class="black-block-number mb30 tac fz-base">01.</p>
                    <p class="page-text-title beige mb25 fz-base tac fw700">Restaurant Management Opportunities</p>
                    <p class="page-text-title grey tac">Send us resume if you`d like a front of the house management
                        position in our restaurants. We know you`re a good catch!</p>
                </a>
            </div>
            <div class="grid-wrapper">
                <a href="#" class="black-block db mb30">
                    <p class="black-block-number mb30 tac fz-base">02.</p>
                    <p class="page-text-title beige mb25 tac fz-base fw700">Restaurant Management Opportunities</p>
                    <p class="page-text-title grey tac">Send us resume if you`d like a front of the house management
                        position in our restaurants. We know you`re a good catch!</p>
                </a>
            </div>
            <div class="grid-wrapper">
                <a href="#" class="black-block db ">
                    <p class="black-block-number mb30 tac fz-base">03.</p>
                    <p class="page-text-title beige mb25 tac fz-base fw700">Restaurant Management Opportunities</p>
                    <p class="page-text-title grey tac">Send us resume if you`d like a front of the house management
                        position in our restaurants. We know you`re a good catch!</p>
                </a>
            </div>
            <div class="grid-wrapper">
                <a href="#" class="black-block db">
                    <p class="black-block-number mb30 tac fz-base">04.</p>
                    <p class="page-text-title beige mb25 tac fz-base fw700">Restaurant Management Opportunities</p>
                    <p class="page-text-title grey tac">Send us resume if you`d like a front of the house management
                        position in our restaurants. We know you`re a good catch!</p>
                </a>
            </div>
        </div>
        <span class="small-sep"></span>
        <div class="expecting-list mb100"><p class="page-text-title mb45 fz-large white tac ">What we expect</p>
            <div class="con-3_30">
                <div class="grid-wrapper tac">
                    <div><p class="page-text-title grey ttu allocation-grad-line fz-base mb20">
                            GUEST&nbsp;SPECIALISTS</p>
                        <p class="grey">Being a Guest Specialist at Food & Wine Restaurant is more than just a job. It's
                            a
                            place
                            to learn about the business from the ground up. It's an opportunity to establish a career.
                            It's
                            a
                            chance to meet our guests, discover our great food, and become a member of the Food & Wine`s
                            family.</p>
                        <span class="small-sep"></span></div>
                </div>
                <div class="grid-wrapper tac">
                    <div><p class="page-text-title grey ttu allocation-grad-line fz-base mb20">
                            GUEST&nbsp;SPECIALISTS</p>
                        <p class="grey">Being a Guest Specialist at Food & Wine Restaurant is more than just a job. It's
                            a
                            place
                            to learn about the business from the ground up. It's an opportunity to establish a career.
                            It's
                            a
                            chance to meet our guests, discover our great food, and become a member of the Food & Wine`s
                            family.</p>
                        <span class="small-sep"></span></div>
                </div>
                <div class="grid-wrapper tac">
                    <div><p class="page-text-title grey ttu allocation-grad-line fz-base mb20">
                            GUEST&nbsp;SPECIALISTS</p>
                        <p class="grey">Being a Guest Specialist at Food & Wine Restaurant is more than just a job. It's
                            a
                            place
                            to learn about the business from the ground up. It's an opportunity to establish a career.
                            It's
                            a
                            chance to meet our guests, discover our great food, and become a member of the Food & Wine`s
                            family.</p>
                        <span class="small-sep"></span></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}