{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">CLIENTS</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">CLIENTS</span>
        </div>
    </div>
    <div class="pb80">
        <div class="container grey-line-sep">
            <p class="page-text-title white fz-large tac fw700 mb40">Andrew Saxon <br>
                <span class="fz-base ttu">(CHEF)</span></p>
            <div class="profile fl-center fd-c mb45">
                <div class="image-wrapper">
                    <img class="img" src="http://placehold.it/370x350" alt="">

                    <div class="profile-inner">
                        <div class="our-team__socials fl-center mb20">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                        <div class="profile__contacts fl-row">
                            <div class="profile__contacts-item mr20">
                                <i class="phone-icon mr10"></i>
                                <a href="tel:18001231334" class="link-v2">+1 (800) 123 1334 </a></div>
                            <div class="profile__contacts-item">
                                <i class="mail-icon mr10"></i>
                                <a href="mailto:info@demolink.org" class="link-v2">info@demolink.org</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-text-block grey fz-small tac">
                <p>With a well-travelled background and a passion for locally grown produce, Andrew Saxon has been
                    appointed Head Chef at WineCo Restaurant not so long ago. Andrew returned to our restaurant after
                    spending the previous 17 years abroad working as Head Chef in a number of iconic restaurants in
                    London and Australia.</p>
                <p>In his early years as an emerging chef, Andrew spent time at Vinnie's Restaurant under the guidance
                    of David Griffiths before taking over as Head Chef at the acclaimed `Paramount`. Andrew then decided
                    to cross the Tasman to explore the wine scene stepping into the Head Chef role at the well-regarded
                    Australian Winery. Not ready to stop there, Andrew then took his culinary skills to London where he
                    continued to expand his repertoire. It was Andrew`s return to our country that offered a highly
                    rewarding venture in his career, opening Food & Wine Restaurant in our city, with its further
                    introduction in other states. Andrew, together with his wife Alice, owned and operated the
                    restaurant for 5 years picking up a number of accolades and reviews.</p>
            </div>
            <span class="small-sep"></span>
        </div>
    </div>
{% endblock %}