{% extends "layouts/main.twig" %}
{% block pageContent %}
    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">CONTACT&nbsp;US</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <span class="breadcrum fz-small  fw700 black">CONTACT US</span>
        </div>
    </div>
    <p class="page-text-title white tac fz-large mb40">Get in touch</p>
    <div class="contacts--us__inform-wrapper cell-8 m-auto fl-center">
        <div class="contacts-us__inform fl-grid">
            <div class="grid-wrapper">
                <div class="contacts-us__inform-item">
                    <div class=" contacts-us__block">
                        <p class="page-text-title tal fz-base white mr10 ">Address:</p>
                        <div class="contacts-us__inform-item__body"><a href="#" class="link-v3">123,New Lenox, Chicago, IL 60606</a></div>
                    </div>
                    <div class="contacts-us__block">
                        <p class="page-text-title tal fz-base white mr10 ">Phone:</p>
                        <div class="contacts-us__inform-item__body"><a href="#" class="link-v3">+1 (800) 123 1334</a> <a href="#" class="link-v3">+1(800) 123
                            1334</a></div>
                    </div>
                    <div class="contacts-us__block">
                        <p class="page-text-title  tal fz-base white mr10">Email:</p>
                        <div class="contacts-us__inform-item__body"><a href="mailto:info@demolink.org" class="link-v3">info@demolink.org</a></div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="contacts-us__inform-item ">
                    <div class="contacts-us__block ">
                        <p class="page-text-title dib vat tal mr10 fz-base white">We are open: </p>
                        <div class="contacts-us__inform-item__body">
                            <p class="link-v3 tar no-hover">Mon - Fri 7am - 11am
                                (breakfast)</p>
                            <p class="link-v3 tar no-hover"> Mon - FriI 11am - 8pm (lunch)</p>
                            <p class="link-v3 tar no-hover">Sat 8am - 12pm (breakfast)</p>
                            <p class="link-v3 tar no-hover"> Sat 12pm - 4pm (lunch)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}