{% extends "layouts/main.twig" %}
{% block pageContent %}
    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">FAQ</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">FAQ</span>
        </div>
    </div>
    <div class="container grey-line-sep">
        <div class="page-text-title fz-large white tac">Some of your questions</div>
        <div class="accordeon-wrapper cell-8 m-auto mb150">
            <div class="accordeon">
                <div class="accordeon-item tal p-rel">
                    <div class="accordeon-title cur-p">
                        <span class="plus-icon dib vam"></span>
                        <div class="link-v2  dib vam  fz-base white">Why are French wines named
                            after the region and not the
                            grape?
                        </div>
                    </div>
                    <div class="accordeon-item__content hidden">
                        <p class="grey">Though it may look a little silly (or snobby), swirling the wine in your glass
                            actually opens up the wine (that's wine speak for lets in air) and helps bring out the
                            aromas of
                            your wine. This step is important because so much of tasting wine is about appreciating and
                            identifying the different smells and tastes of each wine. So go ahead, swirl it around and
                            take
                            a whiff. Do you like what you smell? What does it smell like?</p>
                    </div>
                </div>
                <div class="accordeon-item tal p-rel">
                    <div class="accordeon-title cur-p">
                        <span class="plus-icon dib vam"></span>
                        <div class="link-v2  dib vam  fz-base white">Why are French wines named
                            after the region and not the
                            grape?
                        </div>
                    </div>
                    <div class="accordeon-item__content hidden">
                        <p class="grey">Though it may look a little silly (or snobby), swirling the wine in your glass
                            actually opens up the wine (that's wine speak for lets in air) and helps bring out the
                            aromas of
                            your wine. This step is important because so much of tasting wine is about appreciating and
                            identifying the different smells and tastes of each wine. So go ahead, swirl it around and
                            take
                            a whiff. Do you like what you smell? What does it smell like?</p>
                    </div>
                </div>
                <div class="accordeon-item tal p-rel">
                    <div class="accordeon-title cur-p">
                        <span class="plus-icon dib vam"></span>
                        <div class="link-v2  dib vam  fz-base white">Why are French wines named
                            after the region and not the
                            grape?
                        </div>
                    </div>
                    <div class="accordeon-item__content hidden">
                        <p class="grey">Though it may look a little silly (or snobby), swirling the wine in your glass
                            actually opens up the wine (that's wine speak for lets in air) and helps bring out the
                            aromas of
                            your wine. This step is important because so much of tasting wine is about appreciating and
                            identifying the different smells and tastes of each wine. So go ahead, swirl it around and
                            take
                            a whiff. Do you like what you smell? What does it smell like?</p>
                    </div>
                </div>
                <div class="accordeon-item tal p-rel">
                    <div class="accordeon-title cur-p">
                        <span class="plus-icon dib vam"></span>
                        <div class="link-v2  dib vam  fz-base white">Why are French wines named
                            after the region and not the
                            grape?
                        </div>
                    </div>
                    <div class="accordeon-item__content hidden">
                        <p class="grey">Though it may look a little silly (or snobby), swirling the wine in your glass
                            actually opens up the wine (that's wine speak for lets in air) and helps bring out the
                            aromas of
                            your wine. This step is important because so much of tasting wine is about appreciating and
                            identifying the different smells and tastes of each wine. So go ahead, swirl it around and
                            take
                            a whiff. Do you like what you smell? What does it smell like?</p>
                    </div>
                </div>
                <div class="accordeon-item tal p-rel">
                    <div class="accordeon-title cur-p">
                        <span class="plus-icon dib vam"></span>
                        <div class="link-v2  dib vam  fz-base white">Why are French wines named
                            after the region and not the
                            grape?
                        </div>
                    </div>
                    <div class="accordeon-item__content hidden">
                        <p class="grey">Though it may look a little silly (or snobby), swirling the wine in your glass
                            actually opens up the wine (that's wine speak for lets in air) and helps bring out the
                            aromas of
                            your wine. This step is important because so much of tasting wine is about appreciating and
                            identifying the different smells and tastes of each wine. So go ahead, swirl it around and
                            take
                            a whiff. Do you like what you smell? What does it smell like?</p>
                    </div>
                </div>
                <div class="accordeon-item tal p-rel">
                    <div class="accordeon-title cur-p">
                        <span class="plus-icon dib vam"></span>
                        <div class="link-v2  dib vam  fz-base white">Why are French wines named
                            after the region and not the
                            grape?
                        </div>
                    </div>
                    <div class="accordeon-item__content hidden">
                        <p class="grey">Though it may look a little silly (or snobby), swirling the wine in your glass
                            actually opens up the wine (that's wine speak for lets in air) and helps bring out the
                            aromas of
                            your wine. This step is important because so much of tasting wine is about appreciating and
                            identifying the different smells and tastes of each wine. So go ahead, swirl it around and
                            take
                            a whiff. Do you like what you smell? What does it smell like?</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="range cell-8 m-auto">
            <div class="page-text-title fz-large white tac mb50">Some of your questions</div>
            <p class="page-text-title fz-small mb30 grey tal">If you need help, we have a list of frequently asked
                questions and
                answers. We strive to give you the best seafood restaurant experience possible. Click a question below
                to view the answer.</p>
            <ul class="contents mb100 ">
                <li class="contents-item mb20">
                    <a href="#question-1" class="contents-item__link js-scrollScreen fz-base">Why are French wines named after the
                        region and not the grape?</a>
                </li>
                <li class="contents-item mb20">
                    <a href="#question-2" class="contents-item__link js-scrollScreen fz-base">Why are French wines named after the
                        region and not the grape?</a>
                </li>
                <li class="contents-item mb20">
                    <a href="#question-3" class="contents-item__link js-scrollScreen fz-base">Why are French wines named after the
                        region and not the grape?</a>
                </li>
                <li class="contents-item mb20">
                    <a href="#question-4" class="contents-item__link js-scrollScreen fz-base">Why are French wines named after the
                        region and not the grape?</a>
                </li>
                <li class="contents-item mb20">
                    <a href="#question-5" class="contents-item__link js-scrollScreen fz-base">Why are French wines named after the
                        region and not the grape?</a>
                </li>
                <li class="contents-item mb20">
                    <a href="#question-6" class="contents-item__link js-scrollScreen fz-base">Why are French wines named after the
                        region and not the grape?</a>
                </li>
            </ul>


            <div class="page-text-title fz-large white tac mb50">Some of your questions</div>
            <div class="answers">
                <div class="answers-item mb30" id="question-1">
                    <div class="page-text-title fz-base white  mb25 tal">Why are French wines named after the region and
                        not the grape?
                    </div>
                    <p class="grey">Wines in France - really in almost all of Europe - had developed their styles over
                        the centuries; a grape (more often a blend of grapes) was eventually found to suit an area - or
                        even better, express the area. To know where the grapes are grown is to know the style of the
                        wine. To know much about the grapes themselves is wine geekdom, only necessary for
                        professionals.</p>
                </div>
                <div class="answers-item mb30" id="question-2">
                    <div class="page-text-title fz-base white mb25  tal">Why are French wines named after the region and
                        not the grape?
                    </div>
                    <p class="grey">Wines in France - really in almost all of Europe - had developed their styles over
                        the centuries; a grape (more often a blend of grapes) was eventually found to suit an area - or
                        even better, express the area. To know where the grapes are grown is to know the style of the
                        wine. To know much about the grapes themselves is wine geekdom, only necessary for
                        professionals.</p>
                </div>
                <div class="answers-item mb30" id="question-3">
                    <div class="page-text-title fz-base white mb25  tal">Why are French wines named after the region and
                        not the grape?
                    </div>
                    <p class="grey">Wines in France - really in almost all of Europe - had developed their styles over
                        the centuries; a grape (more often a blend of grapes) was eventually found to suit an area - or
                        even better, express the area. To know where the grapes are grown is to know the style of the
                        wine. To know much about the grapes themselves is wine geekdom, only necessary for
                        professionals.</p>
                </div>
                <div class="answers-item mb30" id="question-4">
                    <div class="page-text-title fz-base white  mb25 tal">Why are French wines named after the region and
                        not the grape?
                    </div>
                    <p class="grey">Wines in France - really in almost all of Europe - had developed their styles over
                        the centuries; a grape (more often a blend of grapes) was eventually found to suit an area - or
                        even better, express the area. To know where the grapes are grown is to know the style of the
                        wine. To know much about the grapes themselves is wine geekdom, only necessary for
                        professionals.</p>
                </div>
                <div class="answers-item mb30" id="question-5">
                    <div class="page-text-title fz-base white mb25  tal">Why are French wines named after the region and
                        not the grape?
                    </div>
                    <p class="grey">Wines in France - really in almost all of Europe - had developed their styles over
                        the centuries; a grape (more often a blend of grapes) was eventually found to suit an area - or
                        even better, express the area. To know where the grapes are grown is to know the style of the
                        wine. To know much about the grapes themselves is wine geekdom, only necessary for
                        professionals.</p>
                </div>
                <div class="answers-item mb30" id="question-6">
                    <div class="page-text-title fz-base white mb25  tal">Why are French wines named after the region and
                        not the grape?
                    </div>
                    <p class="grey">Wines in France - really in almost all of Europe - had developed their styles over
                        the centuries; a grape (more often a blend of grapes) was eventually found to suit an area - or
                        even better, express the area. To know where the grapes are grown is to know the style of the
                        wine. To know much about the grapes themselves is wine geekdom, only necessary for
                        professionals.</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}