{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">PARTNERS</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">PARTNERS</span>
        </div>
    </div>
    <div class="container grey-line-sep">
       <div class="cell-8 centered tac mb120"><p class="page-text-title white tac fz-large mb35">Log in</p>
        <form class="login-form mb30">
            <div class="fl-row">
                <div class="input-wrapper mr20"><input type="text" placeholder="Username or Email"></div>
                <div class="input-wrapper mr20"><input type="password" placeholder="Password"></div>
                <div class="btn beige-btn ttu fw700 fl-center">sign in</div>
            </div>
        </form>
        <p class="page-text-title white fz-base tac mb30">or</p>
        <div class="mb120">{% include "layouts/social-buttons.twig" %}</div></div>
    </div>

{% endblock %}