{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">PARTNERS</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">PARTNERS</span>
        </div>
    </div>
    <div class="pb80">
        <div class="container grey-line-sep">
            <p class="page-text-title white fz-large tac mb40">Food & Wine's Restaurant Gift Card is always a reason
                <br>
                to celebrate. It`s great for birthdays, anniversaries, <br>
                graduations, and other events.
            </p>
            <div class="con-3_30 mb50">
                <div class="grid-wrapper">
                    <div class="prices-block ovh">
                        <div class="pb20 mb20 grey-line-sep">
                            <p class="page-text-title fz-base white mb10">SEND AN E-GIFTCARD</p>
                            <p class="page-text-title ffM-s grey tal fz-base fw700">Up to $250 value</p>
                        </div>
                        <ul class="page-prices__list mb60">
                            <li class="grey rhomb-marker-grey p-rel">Send it now or pick a later</li>
                            <li class="grey rhomb-marker-grey p-rel">Send it now or pick a later</li>
                            <li class="grey rhomb-marker-grey p-rel">Send it now or pick a later</li>
                            <li class="grey rhomb-marker-grey p-rel">Send it now or pick a later</li>
                        </ul>
                        <div class="pricing-footer">
                            <div class="allocation-link">
                                <a href="#" class="link-v1 fz-small pl15 mr20 p-rel ttu al-sep">buy&nbsp;noW!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-wrapper">
                    <div class="prices-block ovh">
                        <div class="pb20 mb20 grey-line-sep">
                            <p class="page-text-title fz-base white mb10">SEND AN E-GIFTCARD</p>
                            <p class="page-text-title ffM-s grey tal fz-base fw700">Up to $250 value</p>
                        </div>
                        <ul class="page-prices__list mb60">
                            <li class="grey rhomb-marker-grey p-rel">Send it now or pick a later</li>
                            <li class="grey rhomb-marker-grey p-rel">Send it now or pick a later</li>
                            <li class="grey rhomb-marker-grey p-rel">Send it now or pick a later</li>
                            <li class="grey rhomb-marker-grey p-rel">Send it now or pick a later</li>
                        </ul>
                        <div class="pricing-footer">
                            <div class="allocation-link">
                                <a href="#" class="link-v1 fz-small pl15 mr20 p-rel ttu al-sep">buy&nbsp;noW!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-wrapper">
                    <div class="b-prices-link fl-center fl-grid">
                        <p class="beige fw700 fz-base tal">$5 Off when you spend $25</p>
                        <i class="arrow-right tar"></i>
                    </div>
                    <div class="b-prices-link fl-center fl-grid">
                        <p class="beige fw700 fz-base tal">$5 Off when you spend $25</p>
                        <i class="arrow-right tar"></i>
                    </div>
                    <div class="b-prices-link fl-center fl-grid mb45">
                        <p class="beige fw700 fz-base tal">$5 Off when you spend $25</p>
                        <i class="arrow-right tar"></i>
                    </div>
                    <p class="page-text-title grey fz-base">More offers coming soon</p>
                </div>
            </div>


        </div>
    </div>

{% endblock %}