{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">PARTNERS</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">PARTNERS</span>
        </div>
    </div>
    <div class="pb80">
        <div class="container grey-line-sep">
            <div class=" centered tac mb120">
                <p class="page-text-title white fz-large tac mb40">Privacy policy</p>
                <div class="accordeon-wrapper cell-8 m-auto">
                    <div class="accordeon mb50">
                        <div class="accordeon-item tal p-rel">
                            <div class="accordeon-title tal cur-p">
                                <span class="plus-icon dib vam"></span>
                                <div class="link-v2  dib vam fz-base white">General information
                                </div>
                            </div>
                            <div class="accordeon-item__content hidden">
                                <p class="grey">Welcome to our Privacy Policy page! When you use our web site services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. When you share information with us, we can make our services even better for you. For instance, we can show you more relevant search results and ads, help you connect with people or to make sharing with others quicker and easier. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy. This is important; we hope you will take time to read it carefully. Remember, you can find controls to manage your information and protect your privacy and security. We’ve tried to keep it as simple as possible.</p>
                            </div>
                        </div>
                        <div class="accordeon-item tal p-rel">
                            <div class="accordeon-title tal cur-p">
                                <span class="plus-icon dib vam"></span>
                                <div class="link-v2  dib vam fz-base white">General information
                                </div>
                            </div>
                            <div class="accordeon-item__content hidden">
                                <p class="grey">Welcome to our Privacy Policy page! When you use our web site services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. When you share information with us, we can make our services even better for you. For instance, we can show you more relevant search results and ads, help you connect with people or to make sharing with others quicker and easier. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy. This is important; we hope you will take time to read it carefully. Remember, you can find controls to manage your information and protect your privacy and security. We’ve tried to keep it as simple as possible.</p>
                            </div>
                        </div>
                        <div class="accordeon-item tal p-rel">
                            <div class="accordeon-title tal cur-p">
                                <span class="plus-icon dib vam"></span>
                                <div class="link-v2  dib vam fz-base white">General information
                                </div>
                            </div>
                            <div class="accordeon-item__content hidden">
                                <p class="grey">Welcome to our Privacy Policy page! When you use our web site services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. When you share information with us, we can make our services even better for you. For instance, we can show you more relevant search results and ads, help you connect with people or to make sharing with others quicker and easier. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy. This is important; we hope you will take time to read it carefully. Remember, you can find controls to manage your information and protect your privacy and security. We’ve tried to keep it as simple as possible.</p>
                            </div>
                        </div>
                        <div class="accordeon-item tal p-rel">
                            <div class="accordeon-title tal cur-p">
                                <span class="plus-icon dib vam"></span>
                                <div class="link-v2  dib vam fz-base white">General information
                                </div>
                            </div>
                            <div class="accordeon-item__content hidden">
                                <p class="grey">Welcome to our Privacy Policy page! When you use our web site services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. When you share information with us, we can make our services even better for you. For instance, we can show you more relevant search results and ads, help you connect with people or to make sharing with others quicker and easier. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy. This is important; we hope you will take time to read it carefully. Remember, you can find controls to manage your information and protect your privacy and security. We’ve tried to keep it as simple as possible.</p>
                            </div>
                        </div>
                        <div class="accordeon-item tal p-rel">
                            <div class="accordeon-title tal cur-p">
                                <span class="plus-icon dib vam"></span>
                                <div class="link-v2  dib vam fz-base white">General information
                                </div>
                            </div>
                            <div class="accordeon-item__content hidden">
                                <p class="grey">Welcome to our Privacy Policy page! When you use our web site services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. When you share information with us, we can make our services even better for you. For instance, we can show you more relevant search results and ads, help you connect with people or to make sharing with others quicker and easier. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy. This is important; we hope you will take time to read it carefully. Remember, you can find controls to manage your information and protect your privacy and security. We’ve tried to keep it as simple as possible.</p>
                            </div>
                        </div>
                        </div>
                    <div class="tal"><a href="mailto:privacy@demolink.org" class="link-v4 tal fz-base">privacy@demolink.org</a></div>
                    </div>
                </div>

            </div>
    </div>

{% endblock %}