{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">PARTNERS</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">PARTNERS</span>
        </div>
    </div>
    <div class="container grey-line-sep">
        <p class="page-text-title white tac fz-large mb35">Create an account</p>
        <div class="cell-8 centered tac mb120">
            <form class="con-2_15 mb30">
                <div class="grid-wrapper">
                    <div class="input-wrapper mb15"><input type="text" placeholder="Name"></div>
                    <div class="input-wrapper"><input type="text" placeholder="Email"></div>
                </div>
                <div class="grid-wrapper">
                    <div class="input-wrapper mb15"><input type="text" placeholder="Username"></div>
                    <div class="input-wrapper"><input type="password" placeholder="Password"></div>
                </div>
            </form>
            <div class="allocation-link fl-grid mb30">
                <span class="allocation-sep begin"></span>
                <a href="#" class="link-v1 fz-small ml20 mr20 ttu">create&nbsp;an&nbsp;account</a>
                <span class="allocation-sep end"></span>
            </div>
            <p class="page-text-title white  mb30 fz-base">or enter with</p>
            {% include "layouts/social-buttons.twig" %}
        </div>
    </div>

{% endblock %}