{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">PARTNERS</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">PARTNERS</span>
        </div>
    </div>
    <div class="pb80">
        <div class="container grey-line-sep">
            <div class="cell-8 centered tac mb120"><p class="page-text-title white fz-large tac mb40">Search results</p>
                <form class="login-form mb30">
                    <div class="fl-row">
                        <div class="input-wrapper mr20"><input type="text"></div>
                        <div class="btn beige-btn ttu fw700 fl-center">search</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}