{% extends "layouts/main.twig" %}
{% block pageContent %}
<div class="breadcrums-block-wrapper mb85">
    <div class="breadcrums-block fl-center fd-c">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">MENU</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <span class="breadcrum fz-small  fw700 black">menu</span>
        </div>
    </div>
</div>

<div class="wine-list-table-wrapper">
    <p class="page-text-title fz-large white tac mb35">Wine list</p>
    <table class="wine-list-table m-auto cell-8  grey">
        <tr class="t-row">
            <td class="t-cell"></td>
            <td class="t-cell ">Appellation</td>
            <td class="t-cell  ">Glass</td>
            <td class="t-cell ">Bottle</td>
        </tr>
        <tr class="t-row title white fz-base">
            <td colspan="4" class="t-cell">SPARKLING WINES</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2013 Baehner Vogelzang Vineyard 2013 Baehner Vogelzang Vineyard</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2013 Baehner Vogelzang Vineyard</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row  white fz-base title border-bottom">
            <td colspan="4" class="t-cell">SPARKLING WINES</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row  white fz-base title border-bottom">
            <td colspan="4" class="t-cell">SPARKLING WINES</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row  white fz-base title border-bottom">
            <td colspan="4" class="t-cell">SPARKLING WINES</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
        <tr class="t-row">
            <td class="t-cell">2012 Collection 35 Brut</td>
            <td class="t-cell ">Sta. Rita Hills</td>
            <td class="t-cell white">$11</td>
            <td class="t-cell white">$49</td>
        </tr>
    </table>
</div>
{% endblock %}