@font-face {
    font-family: 'Merriweather-Regular';
    /*src: url('../fonts/Roboto-regular.eot');
    src: url('../fonts/Roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-regular.woff') format('woff'), */url('../fonts/Merriweather-Regular.ttf') format('truetype'); /*url('../fonts/Roboto-regular.svg#Roboto-Regular') format('svg');*/
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'Merriweather-Bold';
    /*src: url('../fonts/Roboto-regular.eot');
    src: url('../fonts/Roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-regular.woff') format('woff'), */url('../fonts/Merriweather-Bold.ttf') format('truetype'); /*url('../fonts/Roboto-regular.svg#Roboto-Regular') format('svg');*/
    font-style: normal;
    font-weight: normal;
}
