@import url("https://fonts.googleapis.com/css?family=Merriweather");
.ttu {
  text-transform: uppercase;
}

.left {
  float: left;
}

.right {
  float: right;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.ai-c {
  align-items: center;
}

.fl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-grid {
  display: flex;
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}

.fd-c {
  flex-direction: column;
}

.tac {
  text-align: center;
}

.white {
  color: #fff;
}

.fw700 {
  font-weight: 700;
}

.grey {
  color: #9b9b9b;
}

.beige {
  color: #e0ca8f;
}

.fz18 {
  font-size: 18px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb43 {
  margin-bottom: 43px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb100 {
  margin-bottom: 100px;
}

.col-6 {
  flex-basis: calc(50% - 15px);
}

.col-3 {
  flex-basis: calc(33.3% - 19px);
}

.cell-3 {
  flex-basis: 33.3%;
}

.gutter70 {
  margin-left: -15px;
  margin-right: -15px;
}
.gutter70 > div {
  padding-left: 15px;
  padding-right: 15px;
}

.index-image-block {
  background-image: url('../img/index-bg-1.png?1476702435');
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 75px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .index-image-block {
    background-image: url('../img/index-bg-1@2x.png?1476702426');
    background-size: 1919px 804px;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: "Merriweather", serif;
  background-color: #1d1d1d;
  line-height: 1.3em;
  font-size: 14px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-nav-item {
  text-decoration: none;
  color: #e0ca8f;
  font-size: 14px;
  padding: 10px 25px 10px 25px;
}
.header-nav-item:hover {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  color: #1d1d1d;
  background-color: #e0ca8f;
}

.logo {
  background-image: url('../img/logo.png?1476677726');
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 150px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .logo {
    background-image: url('../img/logo@2x.png?1476678165');
    background-size: 134px 180px;
  }
}

.logo-wrapper {
  margin: 0 auto;
  max-width: 500px;
}

.page-title-text {
  line-height: 1.3em;
  letter-spacing: 0.15em;
}

.fz-large {
  font-size: 30px;
}

.fz-base {
  font-size: 18px;
}

.fz-small {
  font-size: 14px;
}

.small-text-block > p {
  margin-bottom: 30px;
}
.small-text-block > p:last-child {
  margin-bottom: 0;
}

.header-title {
  letter-spacing: 0.2em;
}

.small-sep {
  display: block;
  position: relative;
  border-bottom: 1px solid #787878;
  width: 59px;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 43px;
}
.small-sep:before {
  content: "";
  position: absolute;
  right: calc(50% - 3px);
  width: 6px;
  height: 6px;
  bottom: calc(100% - 3px);
  transform: rotate(45deg);
  background-color: #787878;
}

.banners-item {
  background-color: #000;
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: relative;
}

.designers-things {
  display: flex;
  justify-content: space-between;
}
.designers-things:before {
  display: inline-block;
  height: 2px;
  vertical-align: top;
  width: 50%;
  content: "";
  border-bottom: 3px solid #e0ca8f;
}
.designers-things:after {
  display: inline-block;
  height: 2px;
  vertical-align: top;
  width: 50%;
  content: "";
  border-bottom: 3px solid #e0ca8f;
}

.banners-link {
  color: #e0ca8f;
  margin-bottom: 5px;
}
.banners-link:hover {
  color: #cfae53;
}

.arrow-down {
  width: 60px;
  margin: 0 auto;
  height: 30px;
  display: flex;
}
.arrow-down:before {
  content: "";
  margin: auto;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: transparent;
  transform: rotate(45deg);
  border-bottom: 3px solid #e0ca8f;
  border-right: 3px solid #e0ca8f;
}

.arrow-down-wrapper {
  width: 60px;
  margin: 0 auto;
}

.our-menu-item {
  background-color: #000;
}

.img {
  width: 100%;
}

.img-wrapper {
  width: 100%;
}

.our-menu-item-inner {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 75px;
}

.shapes {
  max-width: 750px;
  margin: 0 auto 80px auto;
}

.shapes-item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.shapes-item-content {
  z-index: 10;
}
