@import _imports.sass

.clearfix
    +clearfix()

.ttu
    text-transform: uppercase

.left
    float: left

.tal
    text-align: left

.right
    float: right
//g4efe
.db
    display: block

.vat
    vertical-align: top

.dib
    display: inline-block

.ai-c
    align-items: center

.fl-baseline
    display: flex
    align-items: baseline
    justify-content: center

.centered
    margin: 0 auto

.fl-start
    display: flex
    justify-content: flex-start

.fl-end
    align-items: flex-end

.fl-row
    display: flex
    flex-direction: row
    align-items: center

.cur-p
    cursor: pointer

.p-rel
    position: relative

.fl-center
    display: flex
    align-items: center
    justify-content: center

.fl-grid
    display: flex
    justify-content: space-between

.fl-start
    justify-content: flex-start

.m-auto
    margin: auto

.fd-c
    flex-direction: column

.tac
    text-align: center
//______________________________________Текста и цвета____________________

.ovh
    overflow: hidden

.white
    color: #fff

.fw700
    font-weight: 700

.grey
    color: $grey

.beige
    color: $beige

.black
    color: $black

.ffMS
    font-family: $ffM-s

.fz18
    font-size: 18px
//____________________
.mb15
    margin-bottom: 15px

.mb43
    margin-bottom: 43px

.mb40
    margin-bottom: 40px

.mb45
    margin-bottom: 45px

.mb60
    margin-bottom: 60px

.mb25
    margin-bottom: 25px

.mb5
    margin-bottom: 5px

.mr10
    margin-right: 10px

.mb85
    margin-bottom: 85px

.ml20
    margin-left: 20px



.mr20
    margin-right: 20px

.mb35
    margin-bottom: 35px

.mr25
    margin-right: 25px

.mb45
    margin-bottom: 45px

.pl15
    padding-left: 15px

.mb20
    margin-bottom: 20px

.mb120
    margin-bottom: 120px

.cur-p
    cursor: pointer

.pb80
    padding-bottom: 80px

.pb20
    padding-bottom: 20px

.mb150
    margin-bottom: 150px

.mt50
    margin-top: 50px

.mb30
    margin-bottom: 30px

.mb150
    margin-bottom: 150px

.mb50
    margin-bottom: 50px

.mb80
    margin-bottom: 80px

.mb10
    margin-bottom: 10px

.mb100
    margin-bottom: 100px
//_______________________
.col-12
    flex-basis: 100%

//.grey-line
    border-top: 1px solid $darkestgrey

.scale-on-hover
    &:hover
        transform: scale(1.05)
        +trans()

.gutter70
    margin-left: -15px
    margin-right: -15px
    & > div
        padding-left: 15px
        padding-right: 15px

.index-image-block
    +retina-bg("index-bg-1.png", "index-bg-1@2x.png")
    background-position: center
    background-repeat: no-repeat
    padding-top: 75px
    padding-bottom: 75px

.hidden
    display: none

.cell-8
    width: 66.66667%

.allocation-grad-line
    position: relative
    display: flex
    align-items: center
    &:before
        margin-top: -1px
        content: ""
        display: inline-block
        margin-right: 10px
        +size(100px 1px)
        background-image: -webkit-linear-gradient(right, #fff 0%, #1d1d1d 100%)
        background-image: -o-linear-gradient(right, #fff 0%, #1d1d1d 100%)
        background-image: linear-gradient(to left, #fff 0%, #1d1d1d 100%)
        background-repeat: repeat-x
        opacity: .3
    &:after
        +size(100px 1px)
        margin-top: -1px
        margin-left: 10px
        content: ""
        display: inline-block
        background-image: -webkit-linear-gradient(right, #1d1d1d 0%, #fff 100%)
        background-image: -o-linear-gradient(right, #1d1d1d 0%, #fff 100%)
        background-image: linear-gradient(to left, #1d1d1d 0%, #fff 100%)
        background-repeat: repeat-x
        opacity: .3


.rhomb-marker
    padding-left: 15px
    &:before
        content: ''
        +position(absolute, none none calc(100% - 12px) 0)
        +size(6px 6px)
        margin-right: 10px
        background-color: $grey
        +transform(rotate(45deg))

