@import _variables.sass

.ttu
    text-transform: uppercase

.left
    float: left

.right
    float: right
    //g4efe
.db
    display: block

.dib
    display: inline-block

.ai-c
    align-items: center

.fl-center
    display: flex
    align-items: center
    justify-content: center

.fl-grid
    display: flex
    justify-content: space-between

.m-auto
    margin: auto

.fd-c
    flex-direction: column

.tac
    text-align: center
//______________________________________Текста и цвета____________________
.white
    color: #fff

.fw700
    font-weight: 700

.grey
    color: $grey
//______________________________________ENDТекста и цвета____________________

.fz18
    font-size: 18px

//____________________

.mb15
    margin-bottom: 15px

.mb50
    margin-bottom: 50px

//_______________________

.col-6
    flex-basis: calc(50% - 30px)

.col-3
    flex-basis: calc(33.3% - 30px)



