@import _variables.sass
@import mixins/_retina_sprites.sass

.clearfix
    &:after
        clear: both
        display: block
        content: ''

.ttu
    text-transform: uppercase

.left
    float: left

.right
    float: right
    //g4efe
.db
    display: block

.dib
    display: inline-block

.ai-c
    align-items: center

.fl-baseline
    display: flex
    align-items: baseline
    justify-content: center

.fl-start
    display: flex
    justify-content: flex-start

.fl-end
    align-items: flex-end

.p-rel
    position: relative
.fl-center
    display: flex
    align-items: center
    justify-content: center

.fl-grid
    display: flex
    justify-content: space-between

.fl-start
    justify-content: flex-start

.m-auto
    margin: auto

.fd-c
    flex-direction: column

.tac
    text-align: center
//______________________________________Текста и цвета____________________
.white
    color: #fff

.fw700
    font-weight: 700

.grey
    color: $grey

.beige
    color: $beige

.black
    color: $black

.ffMS
    font-family: $ffM-s
//______________________________________ENDТекста и цвета____________________

.fz18
    font-size: 18px
//____________________
.mb15
    margin-bottom: 15px

.mb43
    margin-bottom: 43px

.mb45
    margin-bottom: 45px

.mb25
    margin-bottom: 25px

.mb5
    margin-bottom: 5px

.mb85
    margin-bottom: 85px

.ml20
    margin-left: 20px

.mr20
    margin-right: 20px

.mb35
    margin-bottom: 35px

.mr25
    margin-right: 25px

.mb45
    margin-bottom: 45px

.mb20
    margin-bottom: 20px

.mt50
    margin-top: 50px

.mb30
    margin-bottom: 30px

.mb150
    margin-bottom: 150px

.mb50
    margin-bottom: 50px

.mb80
    margin-bottom: 80px

.mb10
    margin-bottom: 10px

.mb100
    margin-bottom: 100px
//_______________________
.col-12
    flex-basis: 100%

//.grey-line
    border-top: 1px solid $darkestgrey

.gutter70
    margin-left: -15px
    margin-right: -15px
    & > div
        padding-left: 15px
        padding-right: 15px


.index-image-block
    +retina-bg("index-bg-1.png", "index-bg-1@2x.png")
    background-position: center
    background-repeat: no-repeat
    padding-top: 75px
    padding-bottom: 75px

.hidden
    display: none