$beige : #e0ca8f
$grey : #9b9b9b
$darkestgrey: #333
$orange : #cfae53
$black : #1d1d1d
$gold: #8a7e5c
$darkerblack : #000
$lightgrey : #656565
$darkergrey : #787878
$ffM : "Merriweather"
$ffM-s: "Merriweather Sans", sans-serif
$ffM-b : "Merriweather-Bold"