$beige : #e0ca8f
$grey : #9b9b9b
$orange : #cfae53
$black : #1d1d1d
$darkerblack : #000
$lightgrey : #656565
$darkergrey : #787878
$ffM : "Merriweather"
$ffM_s: "Merriweather", serif
$ffM-b : "Merriweather-Bold"