@import _imports.sass
@import _framework.sass
@import _page_template.sass
@import _responsive.sass

//____________________________________________________________________________
@import url('https://fonts.googleapis.com/css?family=Merriweather')
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans')
//_____________________________________________________________________________

.MyContainer
    padding: 0 15px
    max-width: 1230px
    margin: 0 auto

a
    text-decoration: none

body
    line-height: 1.42857
    font-size: $fz-base
    font-family: $ffCir
    //ths
    color: $black

input
    padding: 0 15px
    width: 100%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.orange-on-hover
    cursor: pointer
    &:hover
        color: $orange
        & > a, p, span
            color: $orange
        &::before
            color: $orange
        &::after
            color: $orange


*:not(.tdu)
    text-decoration: none !important

.td-th
    text-decoration: line-through !important

*:not(*[class*="mb"])
    margin-bottom: 0

*:not(*[class*="mt"])
    margin-top: 0

.icon-fl
    font-family: $ffFl
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1em
    color: $black
    speak: none
    display: inline-block

.icon
    display: inline-block
    vertical-align: middle

.circle-icon-wrapper
    padding: 10px 0
    flex-basis: 54px
    flex-shrink: 0
    height: 54px
    border-radius: 50%
    border: 1px solid #9d9d9d

.header-advantages-circles-list
    & .circle-icon-wrapper
        margin-left: 42px

.icon-building
    @extend .icon
    +sprite(building)

.icon-arrows-up
    @extend .icon
    //rgt
    +sprite(arrows-up)

.icon-shop
    @extend .icon
    +sprite(shop)

.icon-calendar
    @extend .icon
    +sprite(calendar)

.icon-header-logo
    @extend .icon
    +sprite(logo)

.icon-person
    @extend .icon
    +sprite(person)

.icon-heart
    @extend .icon
    +sprite(person)

.header-advantages-circles-list
    background-color: $blue
    padding: 15px 0

//_________________________text_____________________________________________________________
.image-label
    font-family: $ffRob-r
    color: #fff
    &.fz-small
        font-size: 14px

.base-title-label
    color: $lighterblack
    &.orange-on-hover
        cursor: pointer
        &:hover
            color: $orange
    &.tdu-on-hover
        &:hover
            text-decoration: underline
    font-family: $ffCir-l
    &.reg
        font-family: $ffCir
    &.light
        font-family: $ffCir-l
    &.bold
        font-family: $ffCir-b
    &.grey
        color: #747474
    &.grey-v1
        color: #a7a9ac
    &.lightgrey
        color: #a5a5a5
    &.black
        color: #000
    &.black-v1
        color: #111111
    &.fz-base
        font-size: 15px
    &.fz-small
        font-size: 13px
    &.fz-12
        font-size: 12px
    &.fz-16
        font-size: 16px
    &.fz-large
        font-size: 17px
    &.lh23
        line-height: 23px
    &.lh22
        line-height: 22px
    &.lh41
        line-height: 41px
    &.lh49
        line-height: 49px
    &.lh40
        line-height: 40px
    &.lh28
        line-height: 28px

    &.lh36
        line-height: 36px

.base-title
    font-family: $ffCir
    color: $black
    &.white
        color: #fff
    &.black
        color: $lighterblack
    &.orange-on-hover
        &:hover
            color: $orange
    &.tdu-on-hover
        &:hover
            text-decoration: underline
    &.fz-small
        font-size: 26px
    &.fz-big
        font-size: 31px
    &.fz-large
        font-size: 43px
    &.fz-28
        font-size: 28px
    &.fz-12
        font-size: 12px
    &.fz-15
        font-size: 15px
    &.fz-19
        font-size: 19px
    &.fz-20
        font-size: 20px
    &.reg
        font-family: $ffCir
    &.light
        font-family: $ffCir-l
    &.bold
        font-family: $ffCir-b
    &.lh23
        line-height: 23px
    //etry
    &.lh41
        line-height: 41px
    &.lh49
        line-height: 49px
    &.lh40
        line-height: 40px
    &.lh0
        line-height: 0
    &.lh28
        line-height: 28px
    &.lh36
        line-height: 36px
    &.lh22
        line-height: 22px

//______________________________________ENDtext_____________________________________

.header-info
    padding: 30px 0
//gwrgrfgr

header .navbar-form > .form-group
    input
        width: 175px

header .nav > li
    &.active
        & > a
            &:hover
                text-decoration: underline
    & > a
        font-family: $ffCir
        text-transform: uppercase
        line-height: 41px
        &:hover
            text-decoration: underline

header .nav
    width: calc(100% - 250px)
    & > li
        //& > a
            padding-right: 66px
        &:first-child > a
            padding-left: 0
    &:before
        display: none

.navbar-form
    padding: (($navbar-height - $line-height-computed) / 2) 0
    margin: 0
    width: 175px

.btn
    display: inline-block
    align-items: center
    border: 1px solid $black
    font-size: 13px
    font-family: $ffCir
    border-radius: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    &:hover
        background-color: $lightergrey
        +trans()

.content__products .btn
    padding: 0 30px
    line-height: 45px

.content-products-filter
    display: flex
    justify-content: space-between

.grid-gallery
    margin-right: -2%
    & > .masonry-item
        display: block
        position: relative
        float: left
        overflow: hidden
        margin-bottom: 2%
        //grrthy
        &.row-1
            width: calc(33.333% - 2%)
        &.row-2
            width: calc(33.333% * 2 - 2%)
        &.col-1.row-1
            .masonry-item-size
                margin-top: 100%
        &.col-2.row-1
            .masonry-item-size
                margin-top: 209.4%
        &.col-1.row-2
            .masonry-item-size
                margin-top: 50%
        & .masonry-item-content
            +position(absolute, 0 0 0 0)
            background-color: #ccc
            +size(100%, 100%)
            overflow: hidden
            & .masonry-item-content-inner
                &.bottom-left
                    +position(absolute, none 40px 45px 40px)
                &.top-right
                    +position(absolute, 20% 40px 0 40%)
                &.middle
                    +position(absolute, 20px 20px 20px 20px)
                    background-color: #fff
                    padding: 40px 30px 20px
                &.bottom
                    +position(absolute, none 40px 45px 40px)
                &.bottom-right
                    +position(absolute, 100% 0 0 20%)
                &.top-left
                    +position(absolute, 40px 40px 0 40px)

.grid-sizer
    width: 33.333%

.masonry-item-content__b-white-circle
    +position(absolute, 15% 15% 15% 15%)
    background-color: #fff
    border-radius: 50%

.masonry-item-content__b-white
    +size(100%, 255px)
    background-color: #fff
    padding: 55px 38px

.masonry-item-content
    position: relative

//.masonry-shell
    margin-left: -20px
    margin-right: -20px

.carousel-indicators
    left: 45%

#mainCarousel .item
    background-image: url("http://placehold.it/2000x450")
    background-repeat: no-repeat
    -webkit-background-size: cover
    background-size: cover
    background-position: center center
//+transform(translateY(-100%))gr

.carousel-inner
    max-height: 440px
    padding-bottom: 20px

.carousel-chevron-left
    +arr(20px, 2px, l, #a7a9ac)

.carousel-chevron-right
    +arr(20px, 2px, r, #a7a9ac)

.carousel-control
    background-color: #eeeeef
    background-image: none !important
    width: 55px

.white_btn
    @extend .btn
    background-color: #fff
    border: none
    max-width: 220px
    padding: 15px 30px

.orange_btn
    @extend .btn
    display: inline-block
    background-color: $orange
    color: #fff
    border: none
    max-width: 220px
    padding: 15px 30px
    &:hover
        color: white
        background-color: $orange * 0.8

.ornament
    &:before
        background-color: #e0e1e1
        width: 100%
        height: 1px
        content: ''
        display: block
        position: absolute
        bottom: 0
        z-index: 0
        margin-bottom: 70px
    & .orange_btn
        max-width: 185px
        padding: 0 50px
        line-height: 43px

.carousel-inform
    & .white_btn
        width: 220px
        padding: 15px 0
        +box-shadow(0 1px 2px rgba(0, 0, 0, 0.06))

.content-products-filter
    padding: 50px 0
    &.right-grey-line
        position: relative
        padding-right: 60px
        &:before
            position: absolute
            left: 100%
            border-left: 1px dotted #a1a1a1
            height: 53px
            width: 1px
            display: inline-block
            content: ''

.masonry-item
    position: relative

.branch-icon
    +sprite(branch)
    display: inline-block

.marker-icon
    +sprite(marker)
    display: inline-block

.carousel-inner > .item
    min-height: 450px

.carousel__item__content
    min-height: 450px
    display: flex
    align-items: center
    max-width: 70%
    margin: 0 auto

.dropdown-caret
    margin-left: 9px
    +arr(8px, 2px, b, #c8c5c4)
    display: inline-block
    vertical-align: middle
    margin-bottom: 5px

.dropdown-toggle
    &:hover
        text-decoration: none
//w4tgfgf

.dropdown
    &:hover
        & .dropdown-caret
            +arr(8px, 2px, b, $orange)
    &.open
        & .dropdown-toggle
            color: $orange
        & .dropdown-caret
            +arr(8px, 2px, b, $orange)
        .dropdown-toggle
            &:hover
                text-decoration: none

.diamond-icon
    +sprite(diamond)
    display: inline-block

.icon-wrapper
    height: 30px
    width: 30px

.hit-circle
    +size(30px, 30px)
    border-radius: 50%
    border: 1px solid #e5ded9
    vertical-align: middle
    font-size: 9px
    text-transform: uppercase
    color: #b18b78
    padding-top: 3px

.ok-icon
    @extend .icon-fl
    position: relative
    &:before
        +sprite(shape)
        content: ''
        display: inline-block

.ornamentaitions-popup
    display: none
    +position(absolute, none none none 0)
    +trans()
    width: 100%
    background-color: #fff

.ornamentations-item
    position: relative
    background-image: none
    -webkit-background-size: cover
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    margin: 0 auto
    padding: 0 10px 0 10px
    padding-bottom: 115px

    &:hover
        +trans()
        & .ornamentaitions-popup
            display: block
            margin-bottom: 10px
            z-index: 2
        @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.24))
    & .ornamentations-photo-wrapper
        +size(100%, auto)
        overflow: hidden
        margin: 0 auto

.rub
    &:after
        content: '\F158'
        display: inline-block
        margin-left: 5px
        @extend .icon-fl
        font-size: 14px

.content__bottom-inform
    padding: 70px 0
    border-top: 1px solid #e0e1e1

.content__bottom-form
    z-index: 1
    & .img
        +position(absolute, 0 none none 15px)
        z-index: -1
    padding: 30px 0
    background: linear-gradient(to right, #f3eee8, #f0eae5)
    & .shell
        height: 42px
    & .input-wrapper
        width: 220px
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        height: 100%
        & > input
            height: 100%

    & .btn
        height: 100%
        width: 170px
        padding: 13px

footer
    padding: 60px 50px
    background-color: #fff
    & .icon-fl
        font-size: 20px
        color: #b2b2b2
    & .design
        +position(absolute, none 0 -40px none)
    & .circle-icon-wrapper
        border-color: #b2b2b2
        +size(40px, 40px)
        flex-basis: 40px
        &:hover
            +trans()
            border-color: $orange
            & .icon-fl
                +trans()
                color: $orange

.footer-links__item
    & > a
        margin-bottom: 5px
        line-height: normal
        &:last-child
            margin-bottom: 0

.footer__links
    align-items: stretch

.heard_btn
    height: 45px

.reviews__circle-photo
    position: relative
    &:before
        +size(91px, 91px)
        background-color: #f7f7f7
        border-radius: 50%
        display: block
        content: ''
    &:after
        +sprite(person)
        content: ''
        display: inline-block
        +position(absolute, 50% 0 0 50%)
        margin-top: -(image-height(sprite-file($icons, person))/2)
        margin-left: -(image-width(sprite-file($icons, person))/2)

.flex-direction-nav a
    +size(110px, 55px)

.owl-item
    padding: 10px

.ornament
    padding: 0 55px 0 55px

.owl-controls
    & .owl-prev, .owl-next
        width: 55px
        font-size: 0
        line-height: 0
        background-color: transparent
        @extend .fl-center
        &:hover
            background-color: #efefef
            +trans()
    & .owl-prev
        +position(absolute, 0 none 160px 0)
        &:before
            margin-left: 10px
            @extend .carousel-chevron-left
    & .owl-next
        +position(absolute, 0 0 160px none)
        &:before
            margin-right: 10px
            @extend .carousel-chevron-right

.carousel-control
    background-color: transparent !important
    &:hover
        background-color: #efefef !important
        +trans()

.reviews-list
    padding: 0 55px 0 55px

.reviews-item__content
    padding-top: 17px

.reviews
    padding-bottom: 66px
    & .owl-prev, .owl-next
        bottom: 80px
    & .btn
        padding: 0 35px 0 35px
        line-height: 42px



.input-wrapper-icon
    & input
        cursor: pointer
        width: calc(100% + 25px)
        height: 18px
        opacity: 0
        z-index: 20
        border: 1px solid #a7a9ac
        border-radius: 3px
        margin-right: 10px
        +position(absolute, calc(50% - 14px) none none -25px)
        &:checked
            & + .checkbox-icon
                border: 1px solid $orange
                +trans()
                &:before
                    +position(absolute, 5% none none -20%)
                    +trans()
                    z-index: 2
                    content: '\E805'
                    color: #f9b897
                    display: inline-block
                    margin-left: 5px
                    @extend .icon-fl
                    font-size: 14px

    & .checkbox-icon
        content: ''
        width: 18px
        height: 18px
        z-index: 2
        border: 1px solid #a7a9ac
        +position(absolute, 8% none none 50px)
        border-radius: 3px
        display: inline-block


.input-wrapper-icon-radio
    & input
        cursor: pointer
        width: calc(100% + 25px)
        height: 18px
        z-index: 20
        opacity: 0
        border: 1px solid #a7a9ac
        border-radius: 3px
        margin-right: 10px
        +position(absolute, calc(50% - 14px) none none -25px)
        &:checked
            & + .radio-icon
                border: 1px solid $orange
                +trans()
                &:before
                    +trans()
                    +size(6px, 6px)
                    content: ''
                    display: block
                    border-radius: 50%
                    background-color: #f9b897

    & .radio-icon
        content: ''
        width: 18px
        border-radius: 50%
        height: 18px
        border: 1px solid #a7a9ac
        +position(absolute, 8% none none 20px)
        display: flex
        align-items: center
        justify-content: center
        z-index: 20

.content-products-filter .input-group-btn
    width: 0
    & li
        line-height: 25px
        position: relative

    & .checkbox-icon
        +position(absolute, 8% none none 20px)

    & .tree-divider
        & .lbl
            padding-left: 45px

    & .lbl
        font-family: $ffCir
        font-size: 15px
        font-weight: 300
        padding-left: 45px

.tree-divider
    margin-left: 24px
    position: relative
    &:before
        content: ''
        height: 105%
        width: 1px
        position: absolute
        top: -11px
        left: 5px
        background: #ccc
    &:after
        content: ''
        width: 12px
        left: 5px
        top: 50%
        height: 1px
        position: absolute
        background: #ccc //rg

.input-group-btn
    &.open
        & .dropdown-toggle
            color: $orange
        & .dropdown-caret
            border-color: $orange
    & .dropdown-toggle
        &:hover
            & .dropdown-caret
                border-color: $orange


.dropdown
    &:hover
        & .dropdown-caret
            border-color: $orange
        & p
            color: $orange

.dropdown-menu.bullet
    &:before
        content: ""
        width: 0
        height: 0
        border-style: solid
        border-width: 0 6px 6px 6px
        border-color: transparent transparent #fff transparent
        position: absolute
        left: 20px
        top: -6px
        z-index: 10
    &:after
        content: ""
        width: 0
        height: 0
        border-style: solid
        border-width: 0 7px 8px 7px
        border-color: transparent transparent #eaeaea transparent
        position: absolute
        left: 19px
        top: -8px
        z-index: 5

.dropdown-menu > li > a
    padding: 0

.header-info__contacts__popup
    display: none

.header-info__contacts__hat
    padding-top: 10px

.header-info__contacts
    position: relative
    width: 290px
    &:hover
        //grgrg
        & .header-info__contacts__popup
            padding: 80px 35px 40px
            +position(absolute, -10px none none -35px)
            width: 290px
            display: block
            background-color: #fff
            z-index: 10
            +box-shadow(0 2px 4px rgba(0, 0, 0, 0.24))
    & .btn
        padding: 0 30px
        line-height: 42px

.header-info__contacts__hat
    position: relative
    z-index: 20

.header_login-form__popup
    display: none
    padding-top: 45px
    +position(absolute, -10px none none -16px)
    width: 200px
    //hnuhuh
    background-color: #fff
    z-index: 10

    & .rub
        &:after
            font-size: 11px
    & .icon-close
        +sprite(close)
        display: inline-block

.popup-trigger
    position: relative
    z-index: 20
    &:hover
        & .header_login-form__popup
            +box-shadow(0 2px 4px rgba(0, 0, 0, 0.24))
            display: block

.header_login-form__popup-item
    padding: 15px
    border-top: 1px solid #eff0f0
    border-bottom: 1px solid #eff0f0

.counter
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    z-index: 100
    font-size: 12px
    +position(absolute, -5px -5px none none)
    padding: 5px
    +size(18px, 18px)
    font-weight: 300
    font-family: $ffCir-l
    background-color: #f45302
    border-radius: 50%

.search-icon
    position: relative
    &:before
        +position(absolute, 50% 10px none none)
        //ii2
        content: '\e804'
        display: inline-block
        font-size: 18px
        @extend .icon-fl
        margin-top: -9px
        color: #b8b8b8
        cursor: pointer

.navbar-right
    input
        background-color: #f0f0f0

.header_login-form__popup-item
    cursor: pointer
    & div
        &:last-child
            width: 15%

.popup-item__price
    width: 40%

.header_login-form__popup-item__photo
    width: 37%