@import _imports.sass
@import _framework.sass
@import _page_template.sass
@import _responsive.sass

//____________________________________________________________________________
@import url('https://fonts.googleapis.com/css?family=Merriweather')
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans')
//_____________________________________________________________________________

a
    text-decoration: none

body
    line-height: 1.42857
    font-size: $fz-base
    font-family: $ffCir //ths
    color: $black

input
    -webkit-box-sizing: border-box !important
    -moz-box-sizing: border-box !important
    box-sizing: border-box !important


.icon-fl
    font-family: $ffFl
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1em
    speak: none
    display: inline-block
    width: 1em

.icon
    display: inline-block
    vertical-align: middle

.circle-icon-wrapper
    padding: 10px 0
    width: 54px
    height: 54px
    border-radius: 50%
    border: 1px solid #9d9d9d



.icon-building
    @extend .icon
    +sprite(building)

.icon-arrows-up
    @extend .icon //rgt
    +sprite(arrows-up)

.icon-shop
    @extend .icon
    +sprite(shop)

.icon-calendar
    @extend .icon
    +sprite(calendar)

.icon-header-logo
    @extend .icon
    +sprite(logo)

.icon-person
    @extend .icon
    +sprite(person)

.icon-heart
    @extend .icon
    +sprite(person)

.header-advantages-circles-list
    background-color: $blue
    padding: 15px 0


//_________________________text_____________________________________________________________
.image-label
    font-family: $ffRob-r
    color: #fff
    &.fz-small
        font-size: 14px


.base-title-label
    color: $lighterblack
    font-family: $ffCir-l
    &.reg
        font-family: $ffCir
    &.light
        font-family: $ffCir-l
    &.bold
        font-family: $ffCir-b
    &.grey
        color: #747474
    &.lightgrey
        color: #a5a5a5
    &.black
        color: #000
    &.fz-base
        font-size: 15px
    &.fz-small
        font-size: 13px
    &.fz-large
        font-size: 17px
    &.lh23
        line-height: 23px
    &.lh41
        line-height: 41px
    &.lh49
        line-height: 49px
    &.lh40
        line-height: 40px
    &.lh28
        line-height: 28px
    &.lh36
        line-height: 36px


.base-title
    font-family: $ffCir
    color: $black
    &.black
        color: $lighterblack
    &.fz-small
        font-size: 26px
    &.fz-big
        font-size: 31px
    &.fz-large
        font-size: 43px
    &.reg
        font-family: $ffCir
    &.light
        font-family: $ffCir-l
    &.bold
        font-family: $ffCir-b
    &.lh23
        line-height: 23px //etry
    &.lh41
        line-height: 41px
    &.lh49
        line-height: 49px
    &.lh40
        line-height: 40px
    &.lh28
        line-height: 28px
    &.lh36
        line-height: 36px

//______________________________________ENDtext_____________________________________

.header-info
    padding: 30px 0 //gwrgrfgr

header .navbar-form > .form-group
    input
        width: 175px

header .nav > li
    &.active
        & > a
            &:hover
            text-decoration: underline
    & > a
        font-family: $ffCir
        text-transform: uppercase
        line-height: 41px
        &:hover
            text-decoration: underline

header .nav
    width: calc(100% - 250px)
    & > li
        //& > a
            padding-right: 66px
        &:first-child > a
            padding-left: 0
    &:before
        display: none

.navbar-form
    padding:  (($navbar-height - $line-height-computed) / 2) 0
    margin: 0
    width: 175px

.btn
    display: flex
    align-items: center
    border: 1px solid $black
    font-size: 13px
    font-family: $ffCir


.content__products .btn
    padding: 0 40px
    height: 30px

.content-products-filter
    display: flex
    justify-content: space-between

.right-grey-line
    border-right: 1px solid $grey

.grid-gallery

    & > .masonry-item
        display: block
        float: left
        $indent: 20px * 2
        margin: 20px
        overflow: hidden
        height: 380px
        background-color: yellow
        &.row-1
            width: calc(33.3% - #{$indent})
        &.row-2
            width: calc(33.3% * 2 - (#{$indent}))
        &.col-2
            height: calc(760px - (#{$indent}))
        &.col-1
            height: calc(380px - #{$indent})
