{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">MASONRY&nbsp;BLOG</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">blog</a>
            <span class="breadcrum fz-small  fw700 black">MASONRY BLOG</span>
        </div>
    </div>
    <div class="pb80">
        <div class="blog-container grey-line-sep">
            <div class="centered tac mb120"><p class="page-text-title white fz-large tac mb40 cur-p" id="prepend">
                    Masonry gallery</p>
                <div class="clearfix p-rel centered blog" id="masonry-container">
                    <div class="masonry-item row-1 ">
                        <div class="blog-item">
                            {#<div class="image-wrapper">
                                <img class="img" src=" http://placehold.it/270x230" alt="">
                            </div>#}
                            <div class="blog-item__footer">
                                <div class="index__blog__item__header fd-c">
                                    <div class="index__blog__item__tag-list fl-row">
                                        <a href="#" class="link-v1  rhomb-sep fl-center fw700 dib vam ttu">restaurant</a>
                                        <a href="#" class="link-v1  rhomb-sep fl-center fw700 dib vam ttu">restaurant</a>
                                        <span class="link-v1 fw700 dib vam ttu">restaurant</span></div>
                                    <i class="fa-clock-o">4 days ago</i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="masonry-item row-1 ">
                        <div class="blog-item">
                            {#<div class="image-wrapper">
                                <img class="img" src=" http://placehold.it/270x230" alt="">
                            </div>#}
                            <div class="blog-item__footer">
                                <div class="index__blog__item__header fd-c">
                                    <div class="index__blog__item__tag-list fl-row">
                                        <a href="#" class="link-v1  rhomb-sep fl-center fw700 dib vam ttu">restaurant</a>
                                        <a href="#" class="link-v1  rhomb-sep fl-center fw700 dib vam ttu">restaurant</a>
                                        <span class="link-v1 fw700 dib vam ttu">restaurant</span></div>
                                    <i class="fa-clock-o">4 days ago</i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="masonry-item row-1 ">
                        <div class="blog-item">
                            {#<div class="image-wrapper">
                                <img class="img" src=" http://placehold.it/270x230" alt="">
                            </div>#}
                            <div class="blog-item__footer">
                                <div class="index__blog__item__header fd-c">
                                    <div class="index__blog__item__tag-list fl-row">
                                        <a href="#" class="link-v1  rhomb-sep fl-center fw700 dib vam ttu">restaurant</a>
                                        <a href="#" class="link-v1  rhomb-sep fl-center fw700 dib vam ttu">restaurant</a>
                                        <span class="link-v1 fw700 dib vam ttu">restaurant</span></div>
                                    <i class="fa-clock-o">4 days ago</i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <span class="small-sep"></span>
                </div>
            </div>
        </div>

{% endblock %}