{% extends "layouts/main.twig" %}
{% block pageContent %}

    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">MASONRY&nbsp;GALLERY</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small  fw700 black">PAGES</a>
            <span class="breadcrum fz-small  fw700 black">PARTNERS</span>
        </div>
    </div>
    <div class="pb80">
        <div class="container grey-line-sep">
            <div class="centered tac mb120"><p class="page-text-title white fz-large tac mb40">Masonry gallery</p>
                <div class="clearfix p-rel centered grid-gallery" id="masonry-container">
                    <div class="masonry-item col-2 row-1 ">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/270x470" alt="">
                        </div>
                    </div>
                    <div class="masonry-item row-1 col-1 ">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/270x230" alt="">
                        </div>
                    </div>
                    <div class="masonry-item row-2 col-2">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/550x470" alt="">
                        </div>
                    </div>
                    <div class="masonry-item row-1 col-1 ">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/270x230" alt="">
                        </div>
                    </div>
                    <div class="masonry-item row-1 col-1 ">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/270x230" alt="">
                        </div>
                    </div>
                    <div class="masonry-item col-1 row-2">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/550x230" alt="">
                        </div>
                    </div>
                    <div class="masonry-item row-1 col-1 ">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/270x230" alt="">
                        </div>
                    </div>
                    <div class="masonry-item row-2 col-1">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/550x230" alt="">
                        </div>
                    </div>
                    <div class="masonry-item row-1 col-1">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/270x230" alt="">
                        </div>
                    </div>
                    <div class="masonry-item row-1 col-1 ">
                        <div class="image-wrapper overlay"><img class="img" src=" http://placehold.it/350x350" alt="">
                        </div>
                    </div>
                </div>
                <span class="small-sep"></span>
            </div>
        </div>
    </div>

{% endblock %}