{% extends "layouts/main.twig" %}
{% block pageContent %}
    <div class="content">
        <div class="container">
            <div class="home-title-block tac">
                <span class="mb50 fz-large page-title-text white">We proudly serve the renowned wine <br>
                    and local organic food
                </span>
                <p class="page-title-text grey fz-base">We introduce new cultures to visitors through cuisines of
                    various countries, <br> offering a special dish for everyone regardless of their <br> food
                    preferences.
                </p>
            </div>
            <span class="small-sep"></span>
            <div class="whats-for-dinner">
                <div class="banner">
                    <p class="fz-large">See what's <br>
                        for dinner
                    </p>
                </div>
            </div>
            {% include "layouts/banners.twig" %}
            <span class="small-sep"></span>
            <p class="page-title white mb43 fz-large tac">Our menu</p>
            <div class="our-menu fl-grid mb100">
                <div class="our-menu-item col-3">
                    <div class="our-item-header">
                        <div class="img-wrapper">
                            <img class="img" src="../img/menu-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-menu-item-inner">
                        <div class="small-text-block">
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                        </div>
                    </div>
                </div>
                <div class="our-menu-item col-3">
                    <div class="our-item-header">
                        <div class="img-wrapper">
                            <img class="img" src="../img/menu-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-menu-item-inner">
                        <div class="small-text-block">
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                        </div>
                    </div>
                </div>
                <div class="our-menu-item col-3">
                    <div class="our-item-header">
                        <div class="img-wrapper">
                            <img class="img" src="../img/menu-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-menu-item-inner">
                        <div class="small-text-block">
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-image-block">
            <div class="container">
                <p class="page-title fz-large white tac mb80">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquam at aut blanditiis cupiditate distinctio e</p>
                <div class="shapes fl-grid mb80">
                    <div class="shapes-item fl-center page-title fd-c">
                        <div class="shapes-item-content  fd-c fl-center"><span
                                    class="white fw700 fz-large db">8648</span>
                            <p class="white">Lorem ipsum.</p></div>
                    </div>
                    <div class="shapes-item fl-center page-title fd-c">
                        <div class="shapes-item-content  fd-c fl-center"><span
                                    class="white fw700 fz-large db">8648</span>
                            <p class="white">Lorem ipsum.</p></div>
                    </div>
                    <div class="shapes-item fl-center page-title fd-c">
                        <div class="shapes-item-content  fd-c fl-center">
                            <span class="white fw700 fz-large db">8648</span>
                            <p class="white">Lorem ipsum.</p>
                        </div>
                    </div>
                    <div class="shapes-item fl-center page-title fd-c">
                        <div class="shapes-item-content  fd-c fl-center">
                            <span class="white fw700 fz-large db">8648</span>
                            <p class="white">Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="advantages fl-grid gutter70">
                    <div class="advantages-item cell-3">
                        <div class="designers-things mb10">
                            <span class="arrow-down"></span>
                        </div>
                        <p class="page-title beige tac fw700 mb35">Lorem ipsum.</p>
                        <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga labore
                            laborum officiis quam quas quia reprehenderit sit suscipit vel voluptas.</p>
                        <span class="small-sep"></span>
                    </div>
                    <div class="advantages-item cell-3">
                        <div class="designers-things mb10">
                            <span class="arrow-down"></span>
                        </div>
                        <p class="page-title beige tac fw700 mb35">Lorem ipsum.</p>
                        <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam amet
                            assumenda aut blanditiis deleniti dolorum eaque mollitia qui velit.</p>
                        <span class="small-sep"></span>
                    </div>
                    <div class="advantages-item cell-3">
                        <div class="designers-things mb10">
                            <span class="arrow-down"></span>
                        </div>
                        <p class="page-title beige tac fw700 mb35">Lorem ipsum.</p>
                        <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nemo
                            qui reiciendis, sit vel voluptatibus. Ad at libero ratione ullam.</p>
                        <span class="small-sep"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
