{% extends "layouts/main.twig" %}
{% block pageContent %}
    <div class="content">
        <div class="content__products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 right-grey-line">
                        <ul class="content-products-filter">
                            <li class="content-product-filter__item">
                                <a href="" class="content-product-filter__link base-title-label">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href="" class="content-product-filter__link base-title-label">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href="" class="content-product-filter__link base-title-label">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href="" class="content-product-filter__link base-title-label">egrgre</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <ul class="content-products-filter">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li class="content-product-filter__item">
                                <a href="" class="content-product-filter__link base-title-label">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href="" class="content-product-filter__link base-title-label">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href="" class="content-product-filter__link base-title-label">egrgre</a>
                            </li>
                            <li><a href="#" class="btn">подобрать из 32 540</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="content__products masonry">
                <div class="container">
                    <div class="clearfix p-rel centered grid-gallery" id="masonry-container">
                        <div class="masonry-item col-1 row-1">

                        </div>
                        <div class="masonry-item col-1 row-1">

                        </div>
                        <div class="masonry-item col-2 row-1">

                        </div>
                        <div class="masonry-item row-2 col-1 ">
                        </div>
                        <div class="masonry-item col-1 row-1">

                        </div>
                        <div class="masonry-item col-1 row-1">

                        </div>
                        <div class="masonry-item col-1 row-1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
