{% extends "layouts/main.twig" %}
{% block pageContent %}
    <div class="content">
        <div class="first-screen mb150 p-rel clearfix">

            <div class="first-screen-content fl-grid fl-center">
                <div class="allocation-link fl-grid mb100">
                    <span class="allocation-sep"></span>
                    <p class="page-title-text fz-large ml20 mr20 ttu">food&nbsp;&&nbsp;wine</p><span
                            class="allocation-sep"></span>

                </div>
                <p class="page-text-title first-screen-content-label white fz-base tac">THE BEST PLACE FOR ANY WINE
                    LOVER TO RELAX AND
                    UNWIND WHILE ENJOYING A GREAT FOOD.</p>
            </div>
            <div class="first-screen-shape fl-center">
                <div class="first-screen-shape__content tac">
                    <p class="page-title-text fz-base beige">make <br> a&nbsp;reservation</p>
                    <i class="arrow-down"></i>
                </div>
            </div>
            <div class="first-screen-slider owl-carousel">
                <div class="first-screen-slider-item image-wrapper"><img class="img" src="http://placehold.it/1000x730">
                </div>
                <div class="first-screen-slider-item image-wrapper"><img class="img" src="http://placehold.it/1000x730">
                </div>
                <div class="first-screen-slider-item image-wrapper"><img class="img" src="http://placehold.it/1000x730">
                </div>
                <div class="first-screen-slider-item image-wrapper"><img class="img" src="http://placehold.it/1000x730">
                </div>
                <div class="first-screen-slider-item image-wrapper"><img class="img" src="http://placehold.it/1000x730">
                </div>
            </div>
            <div class="first-screen-shape_bottom fl-center">
                <i class="beige-line"></i>
                <div class="first-screen-shape__content tac">
                    <p class="page-title-text fz-small beige">order&nbsp;food<br>online</p>
                    <i class="arrow-down"></i>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="home-title-block tac">
                <span class=" fz-large page-title-text white">We proudly serve the renowned wine <br>
                    and local organic food
                </span>
                <p class="page-title-text grey fz-base mt50">We introduce new cultures to visitors through cuisines of
                    various countries, <br> offering a special dish for everyone regardless of their <br> food
                    preferences.
                </p>
            </div>
            <span class="small-sep"></span>
            {% include "layouts/dinner.twig" %}
            {% include "layouts/banners.twig" %}
            <span class="small-sep"></span>
            <p class="page-title white mb43 fz-large tac">Our menu</p>
            <div class="our-menu mb100">
                <div class="grid-wrapper"><div class="our-menu-item p-rel">
                    <p class="page-text-title white ttu our-item__title fz-base">Lunch menu</p>
                    <div class="our-item-header">
                        <div class="img-wrapper">
                            <img class="img" src="../img/menu-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-menu-item-inner">
                        <div class="small-text-block">
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                        </div>
                    </div>
                </div></div>
                <div class="grid-wrapper"><div class="our-menu-item p-rel">
                    <p class="page-text-title white ttu our-item__title fz-base">Lunch menu</p>
                    <div class="our-item-header">
                        <div class="img-wrapper">
                            <img class="img" src="../img/menu-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-menu-item-inner">
                        <div class="small-text-block">
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                        </div>
                    </div>
                </div></div>
                <div class="grid-wrapper"><div class="our-menu-item p-rel">
                    <p class="page-text-title white ttu our-item__title fz-base">Lunch menu</p>
                    <div class="our-item-header">
                        <div class="img-wrapper">
                            <img class="img" src="../img/menu-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="our-menu-item-inner">
                        <div class="small-text-block">
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                            <p class="grey"><span class="white">Pan Roasted Fresh Salmon</span>
                                <span class="fw700 white">$19</span>
                                <br> Braised Rutabaga, Marbled Potato, Herbed White Wine Sauce</p>
                        </div>
                    </div>
                </div></div>
            </div>
        </div>
        <div class="index-image-block mb100">
            <div class="container">
                <p class="page-title fz-large white tac mb80">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquam at aut blanditiis cupiditate distinctio e</p>
                <div class="shapes fl-grid mb80">
                    <div class="shapes-item fl-center page-title fd-c">
                        <div class="shapes-item-content  fd-c fl-center"><span
                                    class="white fw700 fz-large db">8648</span>
                            <p class="white">Lorem ipsum.</p></div>
                    </div>
                    <div class="shapes-item fl-center page-title fd-c">
                        <div class="shapes-item-content  fd-c fl-center"><span
                                    class="white fw700 fz-large db">8648</span>
                            <p class="white">Lorem ipsum.</p></div>
                    </div>
                    <div class="shapes-item fl-center page-title fd-c">
                        <div class="shapes-item-content  fd-c fl-center">
                            <span class="white fw700 fz-large db">8648</span>
                            <p class="white">Lorem ipsum.</p>
                        </div>
                    </div>
                    <div class="shapes-item fl-center page-title fd-c">
                        <div class="shapes-item-content  fd-c fl-center">
                            <span class="white fw700 fz-large db">8648</span>
                            <p class="white">Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="advantages  gutter70">
                    <div class="grid-wrapper">
                        <div class="advantages-item">
                            <div class="designers-things mb10">
                                <span class="arrow-down"></span>
                            </div>
                            <p class="page-title beige fz-base tac fw700 mb35">Lorem ipsum.</p>
                            <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga labore
                                laborum officiis quam quas quia reprehenderit sit suscipit vel voluptas.</p>
                            <span class="small-sep"></span>
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="advantages-item">
                            <div class="designers-things mb10">
                                <span class="arrow-down"></span>
                            </div>
                            <p class="page-title beige fz-base tac fw700 mb35">Lorem ipsum.</p>
                            <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga labore
                                laborum officiis quam quas quia reprehenderit sit suscipit vel voluptas.</p>
                            <span class="small-sep"></span>
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <div class="advantages-item">
                            <div class="designers-things mb10">
                                <span class="arrow-down"></span>
                            </div>
                            <p class="page-title beige fz-base tac fw700 mb35">Lorem ipsum.</p>
                            <p class="white tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga labore
                                laborum officiis quam quas quia reprehenderit sit suscipit vel voluptas.</p>
                            <span class="small-sep"></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="container">
            <div class="allocation-link fl-grid mb100">
                <span class="allocation-sep begin"></span>
                <p class="link-v1 fz-small ml20 mr20 ttu">Private&nbsp;dining&nbsp;&&nbsp;special&nbsp;events</p><span
                        class="allocation-sep end"></span>
            </div>
            <div class="index__blog">
                <p class="page-title white mb43 fz-large tac">Blog</p>
                <div class="index__blog__listing">
                    <div class="grid-wrapper"><div class="index__blog__item p-rel">
                        <div class="img-wrapper"><img class="img" src="../img/blog-grid1.jpg" alt=""></div>
                        <div class="index__blog__item__header">
                            <a href="#" class="link-v1 blog__item-link fw700 dib vam ttu">restaurant</a>
                            <a href="#" class="link-v1 blog__item-link fw700 dib vam ttu">restaurant</a>
                            <span class="link-v1 fw700 dib vam ttu">restaurant</span>
                        </div>
                        <div class="index__blog__item__footer">
                            <a href="#" class="link-v2 fz-base db mb30 fw700 ttu">The Cooler Side of Wine
                                Country</a>
                            <div class="index__blog__item__footer__label fl-grid fl-baseline fl-start">
                                <span class="white page-title-text mr25">by <span
                                            class="beige">Vasya Pupkin</span></span>
                                <div class="index__blog__item__work-hours">
                                    <i class="clock-icon dib vam"></i>
                                    <p class=" dib vam page-title white">12 day ago</p>
                                </div>
                            </div>
                        </div>
                    </div></div>
                    <div class="grid-wrapper"><div class="index__blog__item p-rel">
                        <div class="img-wrapper"><img class="img" src="../img/blog-grid2.jpg" alt=""></div>
                        <div class="index__blog__item__header">
                            <a href="#" class="link-v1 blog__item-link fw700 dib vam ttu">restaurant</a>
                            <a href="#" class="link-v1 blog__item-link fw700 dib vam ttu">restaurant</a>
                            <span class="link-v1 blog__item-link fw700 dib vam ttu">restaurant</span>
                        </div>
                        <div class="index__blog__item__footer">
                            <a href="#" class="link-v2 fz-base db mb30 fw700 ttu">The Cooler Side of Wine
                                Country</a>
                            <div class="index__blog__item__footer__label fl-grid fl-baseline fl-start">
                                <span class="white page-title-text mr25">by <span
                                            class="beige">Vasya Pupkin</span></span>
                                <div class="index__blog__item__work-hours">
                                    <i class="clock-icon dib vam"></i>
                                    <p class=" dib vam page-title white">12 day ago</p>
                                </div>
                            </div>
                        </div>
                    </div></div>
                </div>
            </div>

        </div>

        <div class="testimonials">
            <div class="container grey-line">
                <p class="page-text-title white fz-large tac ttu">testimonials</p>
                <div class="testimonials-quoters  owl-carousel tac">
                    <div class="testimonials-quoters__item grey fz-base ffMS">
                        <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                            salmon is also divine. Without a doubt, one of my favorite places in the world.
                        </div>
                        <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                        <p class="page-text-title white tac">(manager)</p>
                    </div>
                    <div class="testimonials-quoters__item grey fz-base ffMS">
                        <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                            salmon is also divine. Without a doubt, one of my favorite places in the world.
                        </div>
                        <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                        <p class="page-text-title white tac">(manager)</p>

                    </div>
                    <div class="testimonials-quoters__item grey fz-base ffMS">
                        <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                            salmon is also divine. Without a doubt, one of my favorite places in the world.
                        </div>
                        <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                        <p class="page-text-title white tac">(manager)</p>
                    </div>
                    <div class="testimonials-quoters__item grey fz-base ffMS">
                        <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                            salmon is also divine. Without a doubt, one of my favorite places in the world.
                        </div>
                        <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                        <p class="page-text-title white tac">(manager)</p>

                    </div>
                    <div class="testimonials-quoters__item grey fz-base ffMS">
                        <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                            salmon is also divine. Without a doubt, one of my favorite places in the world.
                        </div>
                        <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                        <p class="page-text-title white tac">(manager)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
