{% extends "layouts/main.twig" %}
{% block pageContent %}
    <div class="content">
        <div id="mainCarousel" class="carousel slide p-rel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators tal">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">

                    <div class="carousel__item__content">
                        <div class="carousel-inform">
                            <h2 class="ttu">Моя история</h2>
                            <p class="base-title-label lh28">Каждый из нас — уникальный, ни на кого не похожий мир.</p>
                            <p class="base-title-label lh28 mb30 ">Создайте неповторимое украшение и расскажите о
                                себе.</p>
                            <div class="tal"><a href="#" class=" dib white_btn base-title-label fz-small ttu black tac">Перейти
                                    к коллекции</a></div>
                        </div>
                    </div>
                </div>

                <div class="item">

                    <div class="carousel__item__content">
                        <div class="carousel-inform">
                            <h2 class="ttu">Моя история</h2>
                            <p class="base-title-label lh28">Каждый из нас — уникальный, ни на кого не похожий мир.</p>
                            <p class="base-title-label lh28 mb30 ">Создайте неповторимое украшение и расскажите о
                                себе.</p>
                            <div class="tal"><a href="#" class=" dib white_btn base-title-label fz-small ttu black tac">Перейти
                                    к коллекции</a></div>
                        </div>
                    </div>
                </div>

                <div class="item">

                    <div class="carousel__item__content">
                        <div class="carousel-inform">
                            <h2 class="ttu">Моя история</h2>
                            <p class="base-title-label lh28">Каждый из нас — уникальный, ни на кого не похожий мир.</p>
                            <p class="base-title-label lh28 mb30 ">Создайте неповторимое украшение и расскажите о
                                себе.</p>
                            <div class="tal"><a href="#" class=" dib white_btn base-title-label fz-small ttu black tac">Перейти
                                    к коллекции</a></div>
                        </div>
                    </div>
                </div>

                <div class="item">

                    <div class="carousel__item__content">
                        <div class="carousel-inform">
                            <h2 class="ttu">Моя история</h2>
                            <p class="base-title-label lh28">Каждый из нас — уникальный, ни на кого не похожий мир.</p>
                            <p class="base-title-label lh28 mb30 ">Создайте неповторимое украшение и расскажите о
                                себе.</p>
                            <div class="tal"><a href="#" class=" dib white_btn base-title-label fz-small ttu black tac">Перейти
                                    к коллекции</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control fl-center" href="#mainCarousel" role="button" data-slide="prev">
                <span class="carousel-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control fl-center" href="#mainCarousel" role="button" data-slide="next">
                <span class="carousel-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div><!-- /.carousel -->
        <div class="content__products">
            <div class="MyContainer">
                <div class="row">
                    <div class="col-lg-4 ">
                        <ul class="content-products-filter right-grey-line">
                            <li class="content-product-filter__item">
                                <a href=""
                                   class="content-product-filter__link base-title-label lh41 fz-base  orange-on-hover  grey tdu">Я
                                    ИЩУ:</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href=""
                                   class="content-product-filter__link base-title-label lh41 fz-large black orange-on-hover tdu">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href=""
                                   class="content-product-filter__link base-title-label lh41 fz-large black orange-on-hover tdu">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href=""
                                   class="content-product-filter__link base-title-label lh41 fz-large black orange-on-hover tdu">egrgre</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <ul class="content-products-filter">
                            <li>
                                <form class="input-group">
                                    <div class="input-group-btn">
                                        <a href="#"
                                           class="dropdown-toggle base-title-label lh41 fz-large black orange-on-hover"
                                           data-toggle="dropdown" role="button"
                                           aria-expanded="false">Dropdown <span class="dropdown-caret"></span></a>
                                        <ul role="menu" class="dropdown-menu bullet">
                                            <li class="">
                                                    <div class="input-wrapper-icon">
                                                        <input type="checkbox">
                                                        <div class="checkbox-icon"></div>
                                                    </div>
                                                    <span class="lbl"> Every day</span>
                                                </li>
                                            <li class="tree-divider ovh">
                                                    <div class="input-wrapper-icon">
                                                        <input type="checkbox">
                                                        <div class="checkbox-icon"></div>
                                                    </div>
                                                    <label class="lbl"> Monday</label>
                                                </li>
                                            <li class="tree-divider">
                                                    <div class="input-wrapper-icon">
                                                        <input type="checkbox">
                                                        <div class="checkbox-icon"></div>
                                                    </div>
                                                    <label class="lbl">Tuesday</label>
                                                </li>
                                            <li class="tree-divider">
                                                    <div class="input-wrapper-icon">
                                                        <input type="checkbox">
                                                        <div class="checkbox-icon"></div>
                                                    </div>
                                                    <label class="lbl">Wednesday</label>
                                                </li>
                                            <li class="tree-divider">
                                                    <div class="input-wrapper-icon">
                                                        <input type="checkbox">
                                                        <div class="checkbox-icon"></div>
                                                    </div>
                                                    <label class="lbl">Thursday</label>
                                                </li>
                                            <li class="ovh">
                                                    <div class="input-wrapper-icon">
                                                        <input type="checkbox">
                                                        <div class="checkbox-icon"></div>
                                                    </div>
                                                    <label class="lbl">Friday</label>
                                                </li>
                                            <li>
                                                    <div class="input-wrapper-icon">
                                                        <input type="checkbox">
                                                        <div class="checkbox-icon"></div>
                                                    </div>
                                                    <label class="lbl">Saturday</label>
                                                </li>
                                            <li>
                                                    <div class="input-wrapper-icon-radio">
                                                        <input type="radio" name="rgrg">
                                                        <div class="radio-icon"></div>
                                                        <label class="lbl">Платина</label>
                                                    </div>
                                                </li>
                                            <li>
                                                    <div class="input-wrapper-icon-radio">
                                                        <input type="radio" name="rgrg">
                                                        <div class="radio-icon">
                                                        </div>
                                                        <label class="lbl">Платина </label></div>
                                                </li>
                                        </ul>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <div class="input-group-btn">
                                    <a href="#"
                                       class="dropdown-toggle base-title-label lh41 fz-large black orange-on-hover"
                                       data-toggle="dropdown" role="button"
                                       aria-expanded="false">Dropdown <span class="dropdown-caret"></span></a>
                                    <ul role="menu" class="dropdown-menu bullet">
                                        <li class="">
                                            <div class="input-wrapper-icon">
                                                <input type="checkbox">
                                                <div class="checkbox-icon"></div>
                                            </div>
                                            <span class="lbl"> Every day</span>
                                        </li>
                                        <li class="tree-divider ovh">
                                            <div class="input-wrapper-icon">
                                                <input type="checkbox">
                                                <div class="checkbox-icon"></div>
                                            </div>
                                            <label class="lbl"> Monday</label>
                                        </li>
                                        <li class="tree-divider">
                                            <div class="input-wrapper-icon">
                                                <input type="checkbox">
                                                <div class="checkbox-icon"></div>
                                            </div>
                                            <label class="lbl">Tuesday</label>
                                        </li>
                                        <li class="tree-divider">
                                            <div class="input-wrapper-icon">
                                                <input type="checkbox">
                                                <div class="checkbox-icon"></div>
                                            </div>
                                            <label class="lbl">Wednesday</label>
                                        </li>
                                        <li class="tree-divider">
                                            <div class="input-wrapper-icon">
                                                <input type="checkbox">
                                                <div class="checkbox-icon"></div>
                                            </div>
                                            <label class="lbl">Thursday</label>
                                        </li>
                                        <li class="ovh">
                                            <div class="input-wrapper-icon">
                                                <input type="checkbox">
                                                <div class="checkbox-icon"></div>
                                            </div>
                                            <label class="lbl">Friday</label>
                                        </li>
                                        <li>
                                            <div class="input-wrapper-icon">
                                                <input type="checkbox">
                                                <div class="checkbox-icon"></div>
                                            </div>
                                            <label class="lbl">Saturday</label>
                                        </li>
                                        <li>
                                            <div class="input-wrapper-icon-radio">
                                                <input type="radio" name="rgrg">
                                                <div class="radio-icon"></div>
                                                <label class="lbl">Платина</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-wrapper-icon-radio">
                                                <input type="radio" name="rgrg">
                                                <div class="radio-icon">
                                                </div>
                                                <label class="lbl">Платина </label></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="content-product-filter__item">
                                <a href=""
                                   class="content-product-filter__link base-title-label lh41 fz-large black orange-on-hover tdu ">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href=""
                                   class="content-product-filter__link base-title-label lh41 fz-large black orange-on-hover tdu">egrgre</a>
                            </li>
                            <li class="content-product-filter__item">
                                <a href=""
                                   class="content-product-filter__link base-title-label lh41 fz-large black orange-on-hover tdu">egrgre</a>
                            </li>
                            <li><a href="#" class="btn base-title-label fz-small ttu black">подобрать из 32 540</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content__products masonry">
                <div class="MyContainer">
                    <div class="masonry-shell">
                        <div class="clearfix p-rel centered grid-gallery" id="masonry-container">
                            <div class="scale-on-hover masonry-item col-1 row-1">
                                <div class="masonry-item-size"></div>
                                <div class="masonry-item-content">
                                    <div class="masonry-item-content-inner bottom-left">

                                        <p class="base-title fz-big white ttu mb40">KARATOV <br> Бесконечность</p>
                                        <a href="#" class="white_btn base-title-label fz-small ttu black">Перейти к
                                            коллекции</a>
                                    </div>
                                </div>
                            </div>
                            <div class="scale-on-hover scale-on-hover masonry-item col-1 row-1">
                                <div class="masonry-item-size"></div>
                                <div class="masonry-item-content">
                                    <div class="masonry-item__preview"></div>
                                    <div class="masonry-item-content-inner">
                                        <div class="masonry-item-content-inner middle tac">
                                            <span class="branch-icon mb35"></span>
                                            <p class="base-title fz-big black ttu  mb25">Идеи подарков
                                                <br> karatov</p>
                                            <a href="#" class="base-title-label tac fz-small ttu black">Каждый из наших
                                                друзей
                                                <br>
                                                уникальный, ни на кого <br>
                                                не похожий мир</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="grid-sizer"></div>
                            <div class=" scale-on-hover masonry-item col-2 row-1">
                                <div class="masonry-item-size"></div>
                                <div class="masonry-item-content">
                                    <div class="masonry-item__preview"></div>
                                    <div class="masonry-item-content-inner bottom">
                                        <div class="masonry-item-content__b-white tac">
                                            <p class="base-title fz-big black ttu mb33">солнечные <br> коллекции</p>
                                            <a href="#" class="base-title-label fz-small ttu black">Каждый из нас —
                                                уникальный, <br> ни на кого не похожий мир</a></div>
                                    </div>
                                </div>

                            </div>
                            <div class="scale-on-hover masonry-item row-2 col-1 ">
                                <div class="masonry-item-size"></div>
                                <div class="masonry-item-content">
                                    <div class="masonry-item__preview"></div>
                                    <div class="masonry-item-content-inner top-right">
                                        <p class="base-title fz-big black ttu mb25">Розовое золото</p>
                                        <a href="#" class="white_btn base-title-label fz-small ttu black">Смотреть
                                            подборку</a>
                                    </div>
                                </div>
                            </div>
                            <div class="scale-on-hover masonry-item col-1 row-1">
                                <div class="masonry-item-size"></div>
                                <div class="masonry-item-content">
                                    <div class="masonry-item__preview"></div>
                                    <div class="masonry-item-content-inner top-left">
                                        <p class="base-title fz-big white ttu mb25">Путешествие <br> в ПАриж</p>
                                        <a href="#" class="white_btn base-title-label fz-small ttu black">Принять
                                            участие</a>
                                    </div>
                                </div>

                            </div>
                            <div class="scale-on-hover masonry-item col-1 row-1">
                                <div class="masonry-item-size"></div>
                                <div class="masonry-item-content">
                                    <div class="masonry-item__preview"></div>
                                    <div class="masonry-item-content-inner ">
                                        <div class="masonry-item-content__b-white-circle fl-center">
                                            <div class="tac"><i class="marker-icon "></i>
                                                <p class="base-title fz-big black vam ttu mb25">где купить?</p></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="scale-on-hover masonry-item col-1 row-1">
                                <div class="masonry-item-size"></div>
                                <div class="masonry-item-content">
                                    <div class="masonry-item__preview"></div>
                                    <div class="masonry-item-content-inner bottom-left">
                                        <p class="base-title fz-big white ttu mb25">KARATOV <br> Change</p>
                                        <a href="#" class="white_btn base-title-label fz-small ttu black">Перейти к
                                            коллекции</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ornamentations">
                <div class="MyContainer">
                    <div class="tac mb20">
                        <p class="base-title-label lh28 grey-v1 fz-large">140 клиентов онлайн</p>
                        <p class="base-title lh28 light fz-28">Сейчас просматривают эти украшения</p>
                    </div>

                    <div class="ornament">
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ornamentations-item">
                            <div class="ornamentations-item__header fl-sp-b">
                                <div class="icon-wrapper fl-center"><span class="diamond-icon tal"></span></div>
                                <div class="fl-row">
                                    <span class="ok-icon fl-center tar"></span>
                                    <span class="hit-circle fl-center tar mb2 ml10">Хит</span>
                                </div>
                            </div>
                            <div class="ornamentations-photo-wrapper fl-center">
                                <img class="img" src="http://placehold.it/175x180" alt="">
                            </div>
                            <div class="tac"><p class="base-title lh41 fz-20 dib rub">55 000</p>
                                <p class="base-title-label lh23 fz-12 black-v1 dib">Кольцо с раухтопазом,
                                    фианитами</p>

                                <div class="ornamentaitions-popup mt15">
                                    <a href="#" class="orange_btn base-title-label fz-small ttu dib centered">Где
                                        купить</a>
                                    <div class="fl-center heard_btn">
                                        <p class="base-title-label popup-trigger fz-large lh23 orange-on-hover ">
                                        <span class="icon-fl fl-icon-heard-empty mr10 fz25 p-rel orange-on-hover">&#xe803</span> Сохранено</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="reviews">
            <div class="MyContainer">
                <p class="base-title light fz-28 tac lh41">Что говорят наши дорогие клиенты</p>
                <div class="reviews-list mb35">
                    <div class="reviews-item fl-items-top">
                        <span class="reviews__circle-photo"></span>
                        <div class="ml30 reviews-item__content"><p class="base-title-label fz-base lh22 mb30 mb30">
                                Купила уже три изделия за короткий срок.
                                Качественные
                                работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском
                                уровне
                                девушки
                                тактичны, обходительны и доброжелательны.</p>
                            <p class="base-title-label db fz-base lh-28 text-bold black">— Алина, Москва</p></div>
                    </div>
                    <div class="reviews-item fl-items-top">
                        <span class="reviews__circle-photo"></span>
                        <div class="ml30 reviews-item__content"><p class="base-title-label fz-base lh22 mb30 mb30">
                                Купила уже три изделия за короткий срок.
                                Качественные
                                работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском
                                уровне
                                девушки
                                тактичны, обходительны и доброжелательны.</p>
                            <p class="base-title-label db fz-base lh-28 text-bold black">— Алина, Москва</p></div>
                    </div>
                    <div class="reviews-item fl-items-top">
                        <span class="reviews__circle-photo"></span>
                        <div class="ml30 reviews-item__content"><p class="base-title-label fz-base lh22 mb30 mb30">
                                Купила уже три изделия за короткий срок.
                                Качественные
                                работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском
                                уровне
                                девушки
                                тактичны, обходительны и доброжелательны.</p>
                            <p class="base-title-label db fz-base lh-28 text-bold black">— Алина, Москва</p></div>
                    </div>
                    <div class="reviews-item fl-items-top">
                        <span class="reviews__circle-photo"></span>
                        <div class="ml30 reviews-item__content"><p class="base-title-label fz-base lh22 mb30 mb30">
                                Купила уже три изделия за короткий срок.
                                Качественные
                                работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском
                                уровне
                                девушки
                                тактичны, обходительны и доброжелательны.</p>
                            <p class="base-title-label db fz-base lh-28 text-bold black">— Алина, Москва</p></div>
                    </div>
                    <div class="reviews-item fl-items-top">
                        <span class="reviews__circle-photo"></span>
                        <div class="ml30 reviews-item__content"><p class="base-title-label fz-base lh22 mb30 mb30">
                                Купила уже три изделия за короткий срок.
                                Качественные
                                работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском
                                уровне
                                девушки
                                тактичны, обходительны и доброжелательны.</p>
                            <p class="base-title-label db fz-base lh-28 text-bold black">— Алина, Москва</p></div>
                    </div>
                    <div class="reviews-item fl-items-top">
                        <span class="reviews__circle-photo"></span>
                        <div class="ml30 reviews-item__content"><p class="base-title-label fz-base lh22 mb30 mb30">
                                Купила уже три изделия за короткий срок.
                                Качественные
                                работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском
                                уровне
                                девушки
                                тактичны, обходительны и доброжелательны.</p>
                            <p class="base-title-label db fz-base lh-28 text-bold black">— Алина, Москва</p></div>
                    </div>
                    <div class="reviews-item fl-items-top">
                        <span class="reviews__circle-photo"></span>
                        <div class="ml30 reviews-item__content"><p class="base-title-label fz-base lh22 mb30 mb30">
                                Купила уже три изделия за короткий срок.
                                Качественные
                                работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском
                                уровне
                                девушки
                                тактичны, обходительны и доброжелательны.</p>
                            <p class="base-title-label db fz-base lh-28 text-bold black">— Алина, Москва</p></div>
                    </div>
                </div>
                <div class="tac"><a href="#" class="btn base-title-label dib  fz-small ttu black ml10 ">все отзывы</a>
                </div>
            </div>
        </section>
        <section class="content__bottom-inform">
            <p class="base-title lh41 fz-28 light tac mb35">Ювелирный магазин КАРАТОВ.ру</p>
            <p class="base-title-label lh23 fz-16 black-v1 tac">Магазин ювелирных украшений КАРАТОВ.ру – настоящий
                гипермаркет изделий, где каждый сможет найти
                <br>
                для себя подходящее украшение. Широчайший выбор, разнообразие дизайна и доступные цены — то, что мы
                предлагаем каждому нашему клиенту.
                <br>
                Большой ассортимент женских, мужских и детских ювелирных изделий из золота выгодно выделяет магазин
                ювелирных...
                <br>
                Развернуть все</p>
        </section>
        <section class="content__bottom-form p-rel ovh">
            <div class="img-wrapper"><img src="../img/envelope.png" alt="" class="img"></div>
            <div class="shell fl-row fl-center">
                <p class="base-title fz-19 lh22">Дарим 500 рублей <br>
                    на ЗОЛОТО!</p>
                <div class="input-wrapper ml30"><input type="text" placeholder="Имя"></div>
                <div class="input-wrapper ml10"><input type="text" placeholder="Email"></div>
                <a href="#" class="btn base-title-label fz-small ttu black ml10 ">подписаться</a></div>
        </section>
    </div>
{% endblock %}
