{% extends "layouts/main.twig" %}
{% block pageContent %}
    <div class="breadcrums-block fl-center fd-c mb85">
        <div class="allocation-link fl-grid mb30">
            <span class="allocation-sep end"></span>
            <p class="page-text-title fz-large ml20 mr20 black ttu">OUR&nbsp;TEAM</p>
            <span class="allocation-sep begin"></span>
        </div>
        <div class="breadcrums fz-base black ttu fl-grid">
            <a href="#" class="breadcrum fz-small fw700  black">home</a>
            <a href="#" class="breadcrum fz-small fw700  black">pages</a>
            <span class="breadcrum fz-small  fw700 black">OUR&nbsp;TEAM</span>
        </div>
    </div>
    <p class="page-text-title white tac fz-large mb40">Our team</p>
    <div class="container">
        <div class="masonry-list border-bottom mb80 mb ">
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c mb30">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform">
                        <p class="page-title-text white fz-base  tac">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pistachio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-center">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c mb30">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform">
                        <p class="page-title-text white fz-base  tac">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pistachio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-center">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c mb30">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform">
                        <p class="page-title-text white fz-base  tac">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pistachio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-center">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c mb30">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform">
                        <p class="page-title-text white fz-base  tac">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pistachio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-center">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c mb30">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform">
                        <p class="page-title-text white fz-base  tac">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pistachio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-center">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c ">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <p class="page-title-text white fz-base  tac">Sara Johnson</p>
                    <p class="page-text-title white fz-small mb25">(owner)</p>
                    <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine Rice,
                        Roasted
                        Pistachio, Lemongrass- Gewurztraminer Butter</p>
                    <div class="our-team__socials fl-center">
                        <a href="#" class="google-icon fl-center"></a>
                        <a href="#" class="linkedin-icon fl-center"></a>
                        <a href="#" class="facebook-icon fl-center"></a>
                        <a href="#" class="twitter-icon fl-center"></a>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c ">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform"><p class="page-title-text white fz-base  tac">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pistachio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-center">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c ">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform"><p class="page-title-text white fz-base  tac">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pistachio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-center">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="masonry-list border-bottom row">
            <div class="grid-wrapper">
                <div class="masonry fl-grid  fd-c mb30">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform">
                        <p class="page-title-text white fz-base  ">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pishio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-row">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid  fd-c mb30">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform">
                        <p class="page-title-text white fz-base  ">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pishio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-row">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid  fd-c mb30">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform">
                        <p class="page-title-text white fz-base  ">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pishio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-row">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid  fd-c ">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform"><p class="page-title-text white fz-base  ">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pishio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-row">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid  fd-c ">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform"><p class="page-title-text white fz-base  ">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pishio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-row">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid  fd-c ">
                    <div class="masonry-image mb25 img-wrapper"><img src="http://placehold.it/350x350" alt=""
                                                                     class="img">
                    </div>
                    <div class="masonry-inform"><p class="page-title-text white fz-base  ">Sara Johnson</p>
                        <p class="page-text-title white fz-small mb25">(owner)</p>
                        <p class="page-text-title dib vam grey fz-small mb30">Roasted Tropical Fruit Chutney, Jasmine
                            Rice,
                            Roasted
                            Pishio, Lemongrass- Gewurztraminer Butter</p>
                        <div class="our-team__socials fl-row">
                            <a href="#" class="google-icon fl-center"></a>
                            <a href="#" class="linkedin-icon fl-center"></a>
                            <a href="#" class="facebook-icon fl-center"></a>
                            <a href="#" class="twitter-icon fl-center"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}