{% extends "layouts/main.twig" %}
{% block pageContent %}
    <div class="breadcrums-block-wrapper mb85">
        <div class="breadcrums-block fl-center fd-c">
            <div class="allocation-link fl-grid mb30">
                <span class="allocation-sep end"></span>
                <p class="page-text-title fz-large ml20 mr20 black ttu">MENU</p>
                <span class="allocation-sep begin"></span>
            </div>
            <div class="breadcrums fz-base black ttu fl-grid">
                <a href="#" class="breadcrum fz-small fw700  black">home</a>
                <span class="breadcrum fz-small  fw700 black">menu</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="masonry-list mb100">
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c">
                    <div class="masonry-image mb45 img-wrapper"><img src="http://placehold.it/350x350" alt="" class="img">
                    </div>
                    <a href="#" class="link-v2 white fz-base mb25 tac">King Salmon "a la Plancha"</a>
                    <p class="page-text-title dib vam grey fz-small">Roasted Tropical Fruit Chutney, Jasmine Rice,
                        Roasted
                        Pistachio, Lemongrass- Gewurztraminer Butter</p>
                    <span class="small-sep"></span></div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c">
                    <div class="masonry-image mb45 img-wrapper"><img src="http://placehold.it/350x350" alt="" class="img">
                    </div>
                    <a href="#" class="link-v2 white fz-base mb25 tac">King Salmon "a la Plancha"</a>
                    <p class="page-text-title dib vam grey fz-small">Roasted Tropical Fruit Chutney, Jasmine Rice,
                        Roasted
                        Pistachio, Lemongrass- Gewurztraminer Butter</p>
                    <span class="small-sep"></span></div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c">
                    <div class="masonry-image mb45 img-wrapper"><img src="http://placehold.it/350x350" alt="" class="img">
                    </div>
                    <a href="#" class="link-v2 white fz-base mb25 tac">King Salmon "a la Plancha"</a>
                    <p class="page-text-title dib vam grey fz-small">Roasted Tropical Fruit Chutney, Jasmine Rice,
                        Roasted
                        Pistachio, Lemongrass- Gewurztraminer Butter</p>
                    <span class="small-sep"></span></div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c">
                    <div class="masonry-image mb45 img-wrapper"><img src="http://placehold.it/350x350" alt="" class="img">
                    </div>
                    <a href="#" class="link-v2 white fz-base mb25 tac">King Salmon "a la Plancha"</a>
                    <p class="page-text-title dib vam grey fz-small">Roasted Tropical Fruit Chutney, Jasmine Rice,
                        Roasted
                        Pistachio, Lemongrass- Gewurztraminer Butter</p>
                    <span class="small-sep"></span></div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c">
                    <div class="masonry-image mb45 img-wrapper"><img src="http://placehold.it/350x350" alt="" class="img">
                    </div>
                    <a href="#" class="link-v2 white fz-base mb25 tac">King Salmon "a la Plancha"</a>
                    <p class="page-text-title dib vam grey fz-small">Roasted Tropical Fruit Chutney, Jasmine Rice,
                        Roasted
                        Pistachio, Lemongrass- Gewurztraminer Butter</p>
                    <span class="small-sep"></span></div>
            </div>
            <div class="grid-wrapper">
                <div class="masonry fl-grid tac fd-c">
                    <div class="masonry-image mb45 img-wrapper"><img src="http://placehold.it/350x350" alt="" class="img">
                    </div>
                    <a href="#" class="link-v2 white fz-base mb25 tac">King Salmon "a la Plancha"</a>
                    <p class="page-text-title dib vam grey fz-small">Roasted Tropical Fruit Chutney, Jasmine Rice,
                        Roasted
                        Pistachio, Lemongrass- Gewurztraminer Butter</p>
                    <span class="small-sep"></span></div>
            </div>

        </div>


        <div class="mb50">{% include "layouts/banners.twig" %}</div>
        {% include "layouts/dinner.twig" %}
    </div>
{% endblock %}
