<div class="banners fl-grid">
    <div class="col-6">
        <div class="banners-item fl-center">
            <a href="#" class="banners-link fz-large  ttu">Fresh catch club</a>
            <p class="Join to get a free appetizer or dessert."></p>
        </div>
    </div>
    <div class="col-6">
        <div class="banners-item fl-center">
            <a href="#" class="banners-link fz-large  ttu">our gift card</a>
            <p class="page-title-text"></p>
        </div>
    </div>
</div>