<div class="banners fl-grid">
    <div class="banners-item tac">
        <div class="designers-things mb20">
            <span class="arrow-down"></span>
        </div>
        <a href="#" class="banners-link fz-large  ttu">Fresh catch club</a>
        <p class="page-title-text fz-base beige">Join to get a free appetizer or dessert.</p>
    </div>
    <div class="banners-item tac">
        <div class="designers-things mb20">
            <span class="arrow-down"></span>
        </div>
        <a href="#" class="banners-link fz-large  ttu">our gift card</a>
        <p class="page-title-text beige fz-base">A gift is so good, you'll be tempted to keep it.</p>
    </div>
</div>