<div class="col-12">
    <a href="#" class=" db whats-for-dinner mb50 p-rel">
        <div href="#"><img class="img" src="../img/dinner.jpg" alt=""></div>
        <div class="whats-for-dinner__banner fl-center">
            <div class="whats-for-dinner__banner__inner  fl-grid">
                <span class="allocation-sep end "></span>
                <p class="fz-large page-title-text beige ttu fw700">See&nbsp;what's<br>for&nbsp;dinner</p>
                <span class="allocation-sep begin"></span>
            </div>
        </div>
    </a>
</div>