<footer>
    <div class="container">
        <div class="footer__top clearfix">
            <div class="footer__contacts-info left">
                <div class="logo-wrapper fl-start">
                    <div class="logo tac">
                        <div class="logo__title">
                            <p class="header-title ttu fz-base tac white m-auto fw700 mb15">food & wine</p>
                        </div>
                    </div>
                </div>
                <div class="footer__contacts__info-text">
                    <p class="page-title-text grey fz-small mb10">Address:</p>
                    <p class="page-title-text grey fz-small mb10">4578 Marmora St, <br>
                        San Francisco D04 89GR.</p>
                    <p class="page-title-text grey fz-small dib vam mb5 ">Telephone:</p> <a href="tel:18001234567" class=" dib vam link-v3">1-800-1234-567</a>
                    <p class="page-title-text grey fz-small dib vam ">E-mail:</p><a href="mailto:mail@demolink.org" class=" dib vam link-v3">mail@demolink.org</a>
                </div>
            </div>
            <form class="footer__form right">
                <div class="footer-form-column clearfix">
                    <p class="page-text-title white fz-base mb30">Contact us</p>
                    <div class="footer__input-wrapper mb15"><input type="text" name=""></div>
                    <div class="footer__input-wrapper mb15"><input type="text" name=""></div>
                    <div class="footer__textarea-wrapper mb15"><textarea name=""></textarea></div>
                    <button class="link-v1 ttu fw700 right">Submit</button>
                </div>
                <div class="footer-form-column clearfix">
                    <p class="page-text-title white fz-base mb30">Newsletter</p>
                    <p class="page-text-title grey fz-small mb30">Keep up with the latest restaurant news and events.
                        Enter your e-mail and subscribe to our newsletter.</p>
                    <div class="footer__input-wrapper mb15"><input type="text" name="" id=""></div>
                    <button class="link-v1 ttu fw700 right">subscribe</button>
                </div>
            </form>
        </div>
        <div class="footer__copyright">
            <p class="page-text-title grey fz-small dib vam">Food & wine © 2016</p>
            <a href="#" class="link-v3 dib vam hover">Privacy Policy</a>
        </div>
    </div>

</footer>