<footer>
    <div class="MyContainer p-rel">
        <div class="row p-rel">
            <div class="col-lg-4">
                <p class="base-title fz-12 lh23 ttu mb15">мы в социальных сетях</p>
                <div class="fl-row mb35">
                    <a href="#" class="circle-icon-wrapper mr15 fl-center ">
                        <i class="icon-fl">&#xe800</i>
                    </a>
                    <a href="#" class="circle-icon-wrapper mr15 fl-center ">
                        <i class="icon-fl">&#xF16D</i>
                    </a>
                    <a href="#" class="circle-icon-wrapper mr15 fl-center ">
                        <i class="icon-fl">&#xe801</i>
                    </a>
                    <a href="#" class="circle-icon-wrapper mr15 fl-center ">
                        <i class="icon-fl">&#xf30C</i>
                    </a>
                </div>
                <div class="footer__contacts">
                    <p class="base-title fz-12 lh23 ttu mb15">бесплатный звонок:</p>
                    <a href="tel:88007757715" class="base-title lh0 fz-28">8-800-775-77-15</a>
                </div>
            </div>
            <div class="col-lg-8 ">
                <div class="footer__links fl-row fl-sp-b">
                    <div class="footer-links__item">
                        <p class="base-title lh23 fz-12 mb15">O KARATOV</p>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                    </div>
                    <div class="footer-links__item">
                        <p class="base-title lh23 fz-12 mb15">O KARATOV</p>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                    </div>
                    <div class="footer-links__item">
                        <p class="base-title lh23 fz-12 mb15">O KARATOV</p>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                    </div>
                    <div class="footer-links__item">
                        <p class="base-title lh23 fz-12 mb15">O KARATOV</p>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                        <a href="#" class="base-title-label db fz-small tdu lightgrey">О бренде</a>
                    </div>
                </div>
            </div>
        </div>
    <p class="base-title design">дизайн: foyht&frank </p>
    </div>
</footer>