<header>
    <div class="container">
        <div class="logo-wrapper">
            <div class="logo tac fl-center">
                <div class="logo__title">
                    <p class="header-title ttu fz-large tac white m-auto fw700 mb15">food & wine</p>
                    <span class = "fz-small ttu tac grey db m-auto">wine & winery restaurant</span>
                </div>
            </div>
        </div>{#<ul class="header-nav-item__dd fl-grid fd-c hidden">#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#</ul>#}
        <nav class="header-nav p-rel">
            <a href="#" class="header-nav-item p-rel ttu">HOME</a>
            <a href="#" class="header-nav-item p-rel ttu">Wine menu</a>
            <a href="#" class="header-nav-item p-rel ttu">food menu</a>
            <a href="#" class="header-nav-item p-rel ttu">specials</a>
            <a href="#" class="header-nav-item p-rel ttu">pages</a>
            <a href="#" class="header-nav-item p-rel ttu">gallery</a>
            <a href="#" class="header-nav-item p-rel dd ttu">blog</a>
            <a href="#" class="header-nav-item ttu">contact us</a>
        </nav>
    </div>
</header>