<header>
    <div class="container">
        <div class="logo-wrapper " id="logo" >
            <div class="logo tac fl-center">
                <div class="logo__title">
                    <p class="header-title ttu fz-large tac white m-auto fw700 mb15">food & wine</p>
                    <span class = "fz-small ttu tac grey db m-auto">wine & winery restaurant</span>
                </div>
            </div>
        </div>{#<ul class="header-nav-item__dd fl-grid fd-c hidden">#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#    <li class="header-nav-item__dd__link ttu">BLog</li>#}
        {#</ul>#}
    </div>
    <div class="header-nav-wrapper fl-center" id="header-nav">
        <ul class="header-nav p-rel" >
            <li class="header-nav-item"><a href="#" class="header-nav-link p-rel ttu">HOME</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link p-rel ttu">Wine menu</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link p-rel ttu">food menu</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link p-rel ttu">specials</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link p-rel ttu">pages</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link p-rel ttu">gallery</a></li>
            <li class="header-nav-item dd p-rel">
                <a href="#" class="header-nav-link p-rel  ttu">blog</a>
                <ul class="header-nav__dd">
                    <li class="header-nav__dd-item"><a href="#" class="header-nav__dd-link">dd-text</a></li>
                    <li class="header-nav__dd-item"><a href="#" class="header-nav__dd-link">dd-text</a></li>
                    <li class="header-nav__dd-item"><a href="#" class="header-nav__dd-link">dd-text</a></li>
                    <li class="header-nav__dd-item"><a href="#" class="header-nav__dd-link">dd-text</a></li>
                    <li class="header-nav__dd-item"><a href="#" class="header-nav__dd-link">dd-text</a></li>
                </ul>
            </li>
            <li class="header-nav-item"><a href="#" class="header-nav-link ttu">contact us</a></li>
        </ul>
    </div>
</header>