<header>
    <div class="container">
        <div class="logo-wrapper">
            <div class="logo tac fl-center">
                <div class="logo__title">
                    <p class="header-title ttu fz-large tac white m-auto fw700 mb15">food & wine</p>
                    <span class = "fz-small ttu tac grey db m-auto">wine & winery restaurant</span>
                </div>
            </div>
        </div>
        <nav class="header-nav">
            <a href="#" class="header-nav-item ttu">HOME</a>
            <a href="#" class="header-nav-item ttu">Wine menu</a>
            <a href="#" class="header-nav-item ttu">food menu</a>
            <a href="#" class="header-nav-item ttu">specials</a>
            <a href="#" class="header-nav-item ttu">pages</a>
            <a href="#" class="header-nav-item ttu">gallery</a>
            <a href="#" class="header-nav-item ttu">blog</a>
            <a href="#" class="header-nav-item ttu">contact us</a>
        </nav>
    </div>
</header>