<header>
    <div class="header-advantages-circles-list fl-sp-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xs-3  fl-row fl-start">
                    <div class="circle-icon-wrapper mr15 fl-center ">
                        <i class="icon-building"></i>
                    </div>
                    <span class="image-label fz-small">Собственное <br>
                            производство</span>
                </div>
                <div class="col-lg-3 col-xs-3  fl-row fl-start">
                    <div class="circle-icon-wrapper mr15 fl-center ">
                        <i class="icon-arrows-up"></i>
                    </div>
                    <span class="image-label fz-small">Собственное <br>
                            производство</span>
                </div>
                <div class="col-lg-3 col-xs-3  fl-row fl-start">
                    <div class="circle-icon-wrapper mr15 fl-center ">
                        <i class="icon-shop"></i>
                    </div>
                    <span class="image-label fz-small">Собственное <br>
                            производство</span>
                </div>
                <div class="col-lg-3 col-xs-3  fl-row fl-start">
                    <div class="circle-icon-wrapper mr15 fl-center ">
                        <i class="icon-calendar"></i>
                    </div>
                    <span class="image-label fz-small">Собственное <br>
                        производство
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-info">
        <div class="container">
            <div class="row fl-items-center">
                <div class="col-xs-5">
                    <div class="row"><div class="col-lg-6">
                            <div class="header-info__contacts">
                                <a href="tel:88007757715" class="base-title fz-small fz26 lh41 tac">8-800-775-77-15</a>
                                <p class="base-title-label fz-base lh23">бесплатно по России</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <p class="base-title-label fz-base lh23">Москва и м.о.</p>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div></div>

                </div>
                <div class="col-xs-2">
                    <div class="header-logo">
                        <span class="icon-header-logo centered"></span>
                    </div>
                </div>
                <div class="col-xs-5 clearfix">
                    <div class="pull-right">
                        <div class="header_login-form fl-row fl-center">
                            <div class="login-form-item fl-baseline mr40">
                                <span class="icon-fl fl-icon-person mr10">&#xe802</span>
                                <p class="base-title-label fz-base lh23">Вдох</p>
                            </div>
                            <div class="login-form-item fl-baseline">
                                <span class="icon-fl fl-icon-heard-empty mr10">&#xe803</span>
                                <p class="base-title-label fz-base lh23">Сохранено</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container container-fluid">
            <ul class="nav navbar-nav fl-sp-b">
                <li><a class="base-title" href="#">О KARATOV</a></li>
                <li><a class="base-title" href="#">ювелирные украшения</a></li>
                <li><a class="base-title" href="#">коллекции</a></li>
                <li><a class="orange" href="#">клуб покупателей</a></li>
                <li><a class="base-title" href="#">где купить</a></li>
            </ul>
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </nav>
</header>