<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block pageTitle %}{% endblock %} </title>

    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.css">
    <!-- bower:css -->
    <!-- build:css css/common.css -->
    <link rel="stylesheet" href="bower_components/reset-css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
</head>
<body>
<div class="site-wrapper">
{% include "header.twig" %}
{% block pageContent %}{% endblock %}
{% include "footer.twig" %}

<!-- Scripts -->
{% include "scripts.twig" %}
{% block pageScripts %}{% endblock %}
</div>
</body>
</html>