<div class="shapes fl-grid mb80">
    <div class="shapes-item fl-center page-title fd-c">
        <div class="shapes-item-content  fd-c fl-center"><span
                    class="white fw700 fz-large db">8648</span>
            <p class="white">Lorem ipsum.</p></div>
    </div>
    <div class="shapes-item fl-center page-title fd-c">
        <div class="shapes-item-content  fd-c fl-center"><span
                    class="white fw700 fz-large db">8648</span>
            <p class="white">Lorem ipsum.</p></div>
    </div>
    <div class="shapes-item fl-center page-title fd-c">
        <div class="shapes-item-content  fd-c fl-center">
            <span class="white fw700 fz-large db">8648</span>
            <p class="white">Lorem ipsum.</p>
        </div>
    </div>
    <div class="shapes-item fl-center page-title fd-c">
        <div class="shapes-item-content  fd-c fl-center">
            <span class="white fw700 fz-large db">8648</span>
            <p class="white">Lorem ipsum.</p>
        </div>
    </div>
</div>