<div class="testimonials">
    <div class="container grey-line">
        <p class="page-text-title white fz-large tac ttu">testimonials</p>
        <div class="testimonials-quoters  owl-carousel tac">
            <div class="testimonials-quoters__item grey fz-base ffMS">
                <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                    salmon is also divine. Without a doubt, one of my favorite places in the world.
                </div>
                <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                <p class="page-text-title white tac">(manager)</p>
            </div>
            <div class="testimonials-quoters__item grey fz-base ffMS">
                <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                    salmon is also divine. Without a doubt, one of my favorite places in the world.
                </div>
                <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                <p class="page-text-title white tac">(manager)</p>

            </div>
            <div class="testimonials-quoters__item grey fz-base ffMS">
                <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                    salmon is also divine. Without a doubt, one of my favorite places in the world.
                </div>
                <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                <p class="page-text-title white tac">(manager)</p>
            </div>
            <div class="testimonials-quoters__item grey fz-base ffMS">
                <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                    salmon is also divine. Without a doubt, one of my favorite places in the world.
                </div>
                <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                <p class="page-text-title white tac">(manager)</p>

            </div>
            <div class="testimonials-quoters__item grey fz-base ffMS">
                <div class="testiomonials-quote mb30">Best wine restaurant on the planet. Bar none. Smoked
                    salmon is also divine. Without a doubt, one of my favorite places in the world.
                </div>
                <p class="page-text-title white fz-base tac">Dennis Richardson</p>
                <p class="page-text-title white tac">(manager)</p>
            </div>
        </div>
    </div>
</div>